<footer class="footer-general">
    <div class="footer-general-contenedor">
        <div class="contenedor-footer">
            <h4>Marca</h4>
            <ul class="info-footer">
                <li><a href="/help#nosotros">Acerca de nosotros</a></li>
                <li><a href="/help">Ayuda</a></li>
            </ul>
        </div>
        <div class="contenedor-footer">
            <h4>Comprar</h4>
            <ul class="info-footer">
                <li><a href="/help#comoComprar">¿Cómo comprar?</a></li>
                <li><a href="/help#terminos">Términos y condiciones</a></li>
            </ul>
        </div>
        <div class="contenedor-footer">
            <h4>Vender</h4>
            <ul class="info-footer">
                <li><a href="/help#comoVender">¿Cómo vender?</a></li>
                <li><a href="/help#terminos">Términos y condiciones</a></li>
            </ul>
        </div>
        <div class="contenedor-footer">
            <h4>Usuario</h4>
            <ul class="info-footer">
                <li><a href="/login">Ingresar</a></li>
                <li><a href="/registro">Registrarse</a></li>
            </ul>
        </div>
        <div class="contenedor-footer">
            <h4 class="redes-h4">Redes</h4>
            <ul class="redes">
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li><a href="https://twitter.com/Twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>