<header class="header-index">
    <div class="logo-index">
        <h1><a href="/"><img src="/img/logotipo.png" alt="Antiria"></a></h1>
    </div>
    <input type="checkbox" id="nav-check-index" hidden>
    <nav class="nav-index">
        <ul class="lista-nav-index">
            <li>
                <div class="div-buscador">
                    <input type="text" id="nombre" name="nombre" placeholder="Buscar productos" class="input-buscador">
                    <label for="nombre"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></label>
                </div>
            </li>
            <li class="categorias-nav">
                <a href="" class="link-nav-index">Categorías</a>
                <ul class="categorias">
                    <li><a href="">Joyería</a></li>
                    <li><a href="">Reliquias</a></li>
                    <li><a href="">Muebles</a></li>
                    <li><a href="">Arte</a></li>
                    <li><a href="">Discos</a></li>
                </ul>
            </li>
            <li>
                <a href="/vender" class="link-nav-index">Vender</a>
            </li>
            <li>
                <a href="/login" class="link-nav-index">Ingresar</a>
            </li>
            <li>
                <a href="/registro" class="link-nav-index">Registrarse</a>
            </li>
            <li>
                <a href="" class="link-nav-index">Ayuda</a>
            </li>
            <li>
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
        </ul>
    </nav>
    <label for="nav-check-index" class="menu-burger">
        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href=""><i class="fa-solid fa-bars"></i></a>
    </label>
</header>