<header class="header-index">
    <div class="logo-index">
        <h1><a href="/"><img src="/img/logotipo.png" alt="Antiria"></a></h1>
    </div>
    <input type="checkbox" id="nav-check-index" hidden>
    <nav class="nav-index">
        <ul class="lista-nav-index">
            <li>
                <form class="div-buscador" action="/search" method="GET">
                    <input type="text" id="search" name="search" placeholder="Buscar productos" class="input-buscador">
                    <label for="search"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></label>
                </form>
            </li>
            <li class="categorias-nav">
                <a href="" class="link-nav-index-2">Categorías</a>
                <ul class="categorias">
                    <li><a href="/search?search=Joyería">Joyería</a></li>
                    <li><a href="/search?search=Reliquias">Reliquias</a></li>
                    <li><a href="/search?search=Mueble">Muebles</a></li>
                    <li><a href="/search?search=Arte">Arte</a></li>
                    <li><a href="/search?search=Musica">Musica</a></li>
                </ul>
            </li>
            <li>
                <a href="/listadoProducto/1" class="link-nav-index">Vender</a>
            </li>
            <li>
                <a href="/login" class="link-nav-index">Ingresar</a>
            </li>
            <li>
                <a href="/registro" class="link-nav-index">Registrarse</a>
            </li>
            <li>
                <a href="" class="link-nav-index">Ayuda</a>
            </li>
            <li>
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
        </ul>
    </nav>
    <div class="contenedor-icon-mobile">
        <form class="lupa-mobile" action="/search" method="GET">
            <input type="text" id="search-mobile" name="search" placeholder="Buscar productos"/>
            <label for="search-mobile"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></label>
        </form>
        <label for="nav-check-index" class="menu-burger">
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href=""><i class="fa-solid fa-bars"></i></a>
        </label>
    </div>
</header>