<header class="header-index">
    <div class="logo-index">
        <h1><a href="#top"><img src="/img/logotipo.png" alt="Antiria"></a></h1>
    </div>
    <input type="checkbox" id="nav-check-index" hidden>
    <nav class="nav-index">
        <ul class="lista-nav-index">
            <li>
                <div class="div-buscador">
                    <input type="text" placeholder="Buscar productos" class="input-buscador">
                </div>
            </li>
            <li>
                <a href="" class="link-nav-index">Categorias</a>
            </li>
            <li>
                <a href="" class="link-nav-index">Vender</a>
            </li>
            <li>
                <a href="/login" class="link-nav-index">Ingresar</a>
            </li>
            <li>
                <a href="/registro" class="link-nav-index">Registrarse</a>
            </li>
            <li>
                <a href="" class="link-nav-index">Ayuda</a>
            </li>
            <li>
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
        </ul>
    </nav>
    <label for="nav-check-index" class="menu-burger">
        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href=""><i class="fa-solid fa-bars"></i></a>
    </label>
</header>