<%- include('partials/head', {tituloWeb: '404'}) %>
<body>
    <!-- HEADER -->
    <%- include("./partials/header")%>
    <!-- FIN HEADER -->
    <h1>ERROR 404</h1>
    <!-- FOOTER -->
    <%- include("./partials/footer")%>
    <!-- FIN FOOTER -->
</body>
</html>