<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD -->
    <%- include("./partials/head")%>
    <!-- FIN HEAD -->
    <title>Antiria - Carrito</title>
</head>

<body>
    <!-- HEADER -->
    <%- include("./partials/header")%>
    <!-- FIN HEADER -->

        <main class="carrito-main">
            </div>
            <ul class="carrito-seguimiento">
                <li>
                    <div class="carrito">
                    <i ><a href="/carrito">Carrito</a></i> 
                    </div>
                </li>
                <li>           
                    <div class="seguimiento">
                    <i><a href="" > seguimiento</a></i> 
                    </div> 
                </li>      
            </ul>
            <section class="cuerpo_pagina">
                <div class="product">
                    <a href="productDetail"><img class="imagen-producto" src="/img/anillo-antiria.jpg"
                            alt="Producto 1"></a>
                    <div class="product-total">
                        <p class="product-name">Collar Nathan Drake. Uncharted</p>


                        <p class="product-price">
                            $20.000
                        </p>
                        <p class="descripcion-carrito">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime
                            repellendus ab repellat in, totam laudantium doloribus voluptates sequi nam rem.</p>
                        <a class="eliminar"><i class="fa-sharp fa-solid fa-trash"></i></a>
                    </div>
                </div>
                <div class="product">
                    <a href="productDetail"><img class="imagen-producto" src="/img/anillo-antiria.jpg"
                            alt="Producto 2"></a>
                    <div class="product-total">
                        <p class="product-name">Collar Nathan Drake. Uncharted</p>


                        <p class="product-price">
                            $20.000
                        </p>
                        <p class="descripcion-carrito">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime
                            repellendus ab repellat in, totam laudantium doloribus voluptates sequi nam rem.</p>
                        <a class="eliminar"><i class="fa-sharp fa-solid fa-trash"></i></a>

                    </div>
                </div>
                <h2 class="total">Total:$40.000</h2>
                <button class="realizar-compra">Realizar compra</button>
            </section>
        </main>

        <!-- FOOTER -->
        <%- include("./partials/footer")%>
        <!-- FIN FOOTER -->

</body>

</html>