<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/isotipo.png">
    <title>Antiria - Carrito</title>
</head>

<body>
    <header class="header-index">
        <div class="logo-index">
            <h1><a href="/"><img src="/img/logotipo.png" alt="Antiria"></a></h1>
        </div>
        <input type="checkbox" id="nav-check-index" hidden>
        <nav class="nav-index">
            <ul class="lista-nav-index">
                <li>
                    <div class="div-buscador">
                        <input type="text" placeholder="Buscar productos" class="input-buscador">
                    </div>
                </li>
                <li>
                    <a href="" class="link-nav-index">Categorias</a>
                </li>
                <li>
                    <a href="" class="link-nav-index">Vender</a>
                </li>
                <li>
                    <a href="/login" class="link-nav-index">Ingresar</a>
                </li>
                <li>
                    <a href="/registro" class="link-nav-index">Registrarse</a>
                </li>
                <li>
                    <a href="" class="link-nav-index">Ayuda</a>
                </li>
                <li>
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
            </ul>
        </nav>
        <label for="nav-check-index" class="menu-burger">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href=""><i class="fa-solid fa-bars"></i></a>
        </label>
    </header>
    <main class="carrito-main">
        <ul class="carrito-seguimiento">
            <li>
                <div class="carrito">
                    <p>Carrito</p>
                </div>
            </li>
            <li>
                <div class="seguimiento">
                    <p>Seguimiento</p>
                </div>
            </li>
        </ul>
        <section class="cuerpo_pagina">
            <div class="product">
                <img class="imagen-producto" src="/img/camaraDeFotos.png" alt="Producto 1">
                <div>
                    <p class="product-name">Camara de fotos</p>
                    <p class="product-price">
                        $20.000
                    </p>
                </div>
            </div>
            <div class="product">
                <img class="imagen-producto" src="/img/camaraDeFotos.png" alt="Producto 2">
                <div class="product-total">
                    <p class="product-name">Camara de fotos</p>
                    <p class="product-price">
                        $20.000
                    </p>
                </div>
            </div>
            <h2 class="total">Total:$40.000</h2>
            <button class="realizar-compra">Realizar compra</button>
        </section>
    </main>
    <footer class="footer-general">
        <div class="footer-general-contenedor">
            <div class="contenedor-footer">
                <h4>Marca</h4>
                <ul class="info-footer">
                    <li><a href="">Acerca de nosotros</a></li>
                    <li><a href="">Ayuda</a></li>
                    <li><a href="">Preguntas frecuentes</a></li>
                </ul>
            </div>
            <div class="contenedor-footer">
                <h4>Comprar</h4>
                <ul class="info-footer">
                    <li><a href="">¿Como comprar?</a></li>
                    <li><a href="">Terminos y condiciones</a></li>
                </ul>
            </div>
            <div class="contenedor-footer">
                <h4>Vender</h4>
                <ul class="info-footer">
                    <li><a href="">¿Como vender?</a></li>
                    <li><a href="">¿Como subastar un producto?</a></li>
                    <li><a href="">Terminos y condiciones</a></li>
                </ul>
            </div>
            <div class="contenedor-footer">
                <h4>Usuario</h4>
                <ul class="info-footer">
                    <li><a href="/login">Ingresar</a></li>
                    <li><a href="/registro">Registrarse</a></li>
                </ul>
            </div>
            <div class="contenedor-footer">
                <h4 class="redes-h4">Redes</h4>
                <ul class="redes">
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li><a href="https://twitter.com/Twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>