<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Antiria</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/955163d0fd.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<header>
    
    <section class="logo">
    <a href="/">
        <img src="img/isotipo.png" alt="Antiria">
    </a>
    </section>
    <section class="pie_pagina_carrito">
         <div class="buscador">
            <input type="text" placeholder="buscar productos" class="input-buscador buscador-carrito">
            
            <div class="lupa-carrito">
                <span class="material-symbols-outlined">
                    search
                    </span>
            </div> 
         </div>
         <div class="burger-menu-carrito">
            <i class="fa fa-bars burger"></i>
        </div>

        <ul class="header-carrito">
        <li><a href="#">Categorias</li></a>
        <li><a href="#">Vender</li></a>
        <li><a href="login">Ingresar</li></a>
        <li><a href="registro">Registrarse</li></a>
        <li><a href="#">Ayuda</li></a>
        </ul>
        <div class="shop">
            <span class="material-symbols-outlined">shopping_cart
            </span> 

    </section>
   
</header>
<body>
    <ul class="carrito-seguimiento">
        <li><div class="carrito"><p>Carrito</p></div></li>
        <li><div class="seguimiento"><p>Seguimiento</p></div></li>
    </ul>
<section class="cuerpo_pagina">
  <div class="product">
<img src="/public/img/camaraDeFotos.png" alt="Producto 1">
  <div>
    <p class="product-name">Camara de fotos</p>
    <p class="product-price">
        $20.000
    </p>
  </div>
  </div>
  <div class="product">
    <img src="/public/img/camaraDeFotos.png" alt="Producto 2">
      <div>
        <p class="product-name">Camara de fotos</p>
        <p class="product-price">
            $20.000
        </p>
      </div>    
</div>
<h2 class="total">Total:$40.000</h2>

<button>Realizar compra</button>

</section>

</body>
<footer>
<section class="piepagina">
<ul class="footer-carrito  segundo" >
<li class="titulo-carrito">Comprar</li>
<li><a href="login.html"> como comprar?</li></a>
<li><a href="login.html">terminos y condiciones</li></a>
</ul>
<ul class="footer-carrito tercero">
<li class="titulo-carrito">Marca</li>
<li><a href="login.html">Acerca de nosotros </li></a>
<li><a href="login.html">Ayuda</li></a>
</ul>
<ul class="footer-carrito cuarto">
  <li class="titulo-carrito">Vender</li>
  <li>Como vender?</li>
  <li>Como subastar un producto?</li>
  <li>Terminos y condiciones</li>
  </ul>
<ul class="footer-carrito quinto">
<li>Usuario</li>
<li>Ingresar</li>
<li>Registrarse</li>
</ul>
<ul class="footer-carrito primero">
<li class="titulo-carrito">Redes</li>


</ul>

</section>


</footer>
</html>