<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Antiria</title>
</head>
<body>
    <nav>

    </nav>

    <main class="main-index">
        <div class="contenedor">
            <div class="slider">

                <input type="radio" name="slider" id="slideUno" checked>
                <input type="radio" name="slider" id="slideDos">
                <input type="radio" name="slider" id="slideTres">

                <div class="boton">
                    <label for="slideUno"></label>
                    <label for="slideDos"></label>
                    <label for="slideTres"></label>
                </div>

                <div class="contenido">
                    <div class="primerSlide">
                        <div class="imagen">
                            <img src="\img\reloj-antiria.jpg" alt="producto">

                        </div>
                        <div class="descripcion">
                            <h3>
                                PRODUCTO PRIMERO
                            </h3>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus deleniti sit maxime natus
                            inventore officiis error ipsa dolore, quae vitae magnam, cumque nesciunt.
                            Aliquid ipsum corrupti a consectetur similique ut.</p>

                        </div>
                    </div>
                    <div class="segundoSlide">
                        <div class="imagen">
                            <img src="\img\reloj-antiria.jpg" alt="producto">

                        </div>
                        <div class="descripcion">
                            <h3>
                                PRODUCTO PRIMERO
                            </h3>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus deleniti sit maxime natus
                            inventore officiis error ipsa dolore, quae vitae magnam, cumque nesciunt.
                            Aliquid ipsum corrupti a consectetur similique ut.</p>

                        </div>
                    </div>
                    <div class="tercerSlide">
                        <div class="imagen">
                            <img src="\img\reloj-antiria.jpg" alt="producto">

                        </div>
                        <div class="descripcion">
                            <h3>
                                PRODUCTO PRIMERO
                            </h3>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus deleniti sit maxime natus
                            inventore officiis error ipsa dolore, quae vitae magnam, cumque nesciunt.
                            Aliquid ipsum corrupti a consectetur similique ut.</p>

                        </div>
                    </div>
                        
                </div>






            </div>

    

        </div>
    </main>

</body>
</html>