<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Antiria</title>
</head>
<body>
    <header class="header-index">
        <div class="logo-index">
            <h1>ANTIRIA</h1>
        </div>
        <input type="checkbox" id="nav-check-index" hidden>
        <nav class="nav-index">
            <div class="logo-index-nav">
                <h1>ANTIRIA</h1>
            </div>
            <ul class="lista-nav-index">
                <li>
                    <div class="div-buscador">
                        <input type="text" placeholder="buscar productos" class="input-buscador">
                    <div>
                </li>
                <li>
                    <a href="" class="link-nav-index">Categorias</a>
                </li>
                <li>
                    <a href="" class="link-nav-index">Vender</a>
                </li>
                <li>
                    <a href="" class="link-nav-index">Ingresar</a>
                </li>
                <li>
                    <a href="" class="link-nav-index">Registrarse</a>
                </li>
                <li>
                    <a href="" class="link-nav-index">Ayuda</a>
                </li>
                



        </nav>
        <label for="nav-check-index" class="menu-burger">
            <div></div>
            <div></div>
            <div></div>
        </label>




    </header>

    <main class="main-index">
        <div class="contenedor">
            <div class="slider">

                <input type="radio" name="slider" id="slideUno" checked>
                <input type="radio" name="slider" id="slideDos">
                <input type="radio" name="slider" id="slideTres">

                <div class="boton">
                    <label for="slideUno"></label>
                    <label for="slideDos"></label>
                    <label for="slideTres"></label>
                </div>

                <div class="contenido">
                    <div class="primerSlide">
                        <div class="imagen">
                            <img src="\img\reloj-antiria.jpg" alt="producto">

                        </div>
                        <div class="descripcion">
                            <h3>
                                PRODUCTO PRIMERO
                            </h3>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus deleniti sit maxime natus
                            inventore officiis error ipsa dolore, quae vitae magnam, cumque nesciunt.
                            Aliquid ipsum corrupti a consectetur similique ut.</p>

                        </div>
                    </div>
                    <div class="segundoSlide">
                        <div class="imagen">
                            <img src="\img\reloj-antiria.jpg" alt="producto">

                        </div>
                        <div class="descripcion">
                            <h3>
                                PRODUCTO PRIMERO
                            </h3>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus deleniti sit maxime natus
                            inventore officiis error ipsa dolore, quae vitae magnam, cumque nesciunt.
                            Aliquid ipsum corrupti a consectetur similique ut.</p>

                        </div>
                    </div>
                    <div class="tercerSlide">
                        <div class="imagen">
                            <img src="\img\reloj-antiria.jpg" alt="producto">

                        </div>
                        <div class="descripcion">
                            <h3>
                                PRODUCTO PRIMERO
                            </h3>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus deleniti sit maxime natus
                            inventore officiis error ipsa dolore, quae vitae magnam, cumque nesciunt.
                            Aliquid ipsum corrupti a consectetur similique ut.</p>

                        </div>
                    </div>
                        
                </div>






            </div>

    

        </div>
    </main>

</body>
</html>