<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include("./partials/head")%>
    <!-- FIN HEAD -->


<body class="body_index">

    <!-- HEADER -->
    <%- include("./partials/header")%>
    <!-- FIN HEADER -->

    <main class="main-index">
        <div class="contenedor">
            <div class="contenido">
                <div class="primerSlide">
                    <div class="imagen">
                        <img src="\img\reloj-antiria.jpg" alt="producto">
                    </div>
                    <div class="descripcion">
                        <h3>
                            Novedades
                        </h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus deleniti sit maxime
                            natus inventore officiis error .</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-ofertas">
            <h3 class="ofertas">Ofertas</h3>
        </div>
        <section class="contenedor-4">
            <article class="tarjeta-2">
                <div class="contenedor-img">
                    <img src="/img/reloj-antiria.jpg" alt="">
                </div>
                <div class="detalle-tarjeta">
                    <h3>PRODUCTO</h3>
                    <h4>19.000</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, expedita facere quae minima
                        accusantium voluptatem?</p>
                    <a href="/productDetail">VER MAS</a>
                </div>
            </article>
            <article class="tarjeta-2">
                <div class="contenedor-img">
                    <img src="/img/anillo-antiria.jpg" alt="">
                </div>
                <div class="detalle-tarjeta">
                    <h3>PRODUCTO</h3>
                    <h4>19.000</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, expedita facere quae minima
                        accusantium voluptatem?</p>
                    <a href="/productDetail">VER MAS</a>
                </div>
            </article>
            <article class="tarjeta-2">
                <div class="contenedor-img">
                    <img src="/img/reloj-antiria.jpg" alt="">
                </div>
                <div class="detalle-tarjeta">
                    <h3>PRODUCTO</h3>
                    <h4>19.000</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, expedita facere quae minima
                        accusantium voluptatem?</p>
                    <a href="/productDetail">VER MAS</a>
                </div>
            </article>
            <article class="tarjeta-2">
                <div class="contenedor-img">
                    <img src="/img/reloj-antiria.jpg" alt="">
                </div>
                <div class="detalle-tarjeta">
                    <h3>PRODUCTO</h3>
                    <h4>19.000</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, expedita facere quae minima
                        accusantium voluptatem?</p>
                    <a href="/productDetail">VER MAS</a>
                </div>
            </article>
        </section>


    </main>

    <!-- FOOTER -->
    <%- include("./partials/footer")%>
    <!-- FIN FOOTER -->

</body>

</html>