<%- include('partials/head', {tituloWeb: 'Antiria - Home'}) %>

<body class="body_index">

    <!-- HEADER -->
    <%- include("./partials/header")%>
    <!-- FIN HEADER -->

    <main class="main-index">
        <div class="contenedor">
            <div class="contenido">
                <div class="primerSlide">
                    <div class="imagen">
                        <img src="\img\p1.jpg" alt="producto">
                    </div>
                    <div class="descripcion">
                        <h3>
                            Novedades
                        </h3>
                        <p>
                            Reliquia:
                            <blockquote>"Contemplando los huesos, o a veces todo el cuerpo, de
                                        alguien que dedicó su vida a Dios de modo tan especial que se convirtió en santo, nace el
                                        deseo de una vida similar"
                            </blockquote>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
            <h2 class="ofertas">Ofertas</h5>
        
        <section class="contenedor-4">
            <article class="tarjeta-2">
                <div class="contenedor-img">
                    <img src="/img/p2.jpg" alt="">
                </div>
                <div class="detalle-tarjeta">
                    <h3>Silla 1953</h3>
                    <h4>$35.000</h4>
                    <p>Silla construída en 1953, para la realeza de Europa.</p>
                    <div>
                        <a href="/productDetail">VER MÁS</a>
                    </div>
                </div>
            </article>
            <article class="tarjeta-2">
                <div class="contenedor-img">
                    <img src="/img/p3.jpg" alt="">
                </div>
                <div class="detalle-tarjeta">
                    <h3>Anillos Reliquia</h3>
                    <h4>$120.000</h4>
                    <p>Anillos 100% oro. Año 1932.</p>
                    <div>
                        <a href="/productDetail">VER MÁS</a>
                    </div>
                </div>
            </article>
            <article class="tarjeta-2">
                <div class="contenedor-img">
                    <img src="/img/p4.jpg" alt="">
                </div>
                <div class="detalle-tarjeta">
                    <h3>Collar de diamantes</h3>
                    <h4>$400.000</h4>
                    <p>Collar de diamantes 100% reales. Nunca usados y cuidados.</p>
                    <div>
                        <a href="/productDetail">VER MÁS</a>
                    </div>
                </div>
            </article>
            <article class="tarjeta-2">
                <div class="contenedor-img">
                    <img src="/img/p5.jpg" alt="">
                </div>
                <div class="detalle-tarjeta">
                    <h3>Vasija Vaticano</h3>
                    <h4>$67.000</h4>
                    <p>Vasija cristiana, limpia y cuidada</p>
                    <div>
                        <a href="/productDetail">VER MÁS</a>
                    </div>
                </div>
            </article>
        </section>


    </main>
    <h2 class="categoriash2">Top 5 usuarios mas vendedores del mes</h2>
    <section class="usuarios-vendedores">
        <div class="coin-usuario">
            <div class="coin-front">
                
                <h2>#1</h2>
            </div>
            <div class="coin-back">
                
                    <h2>VENTAS</h2>
                    <h3>3.400</h3>
                
            </div>
        </div>
        <div class="coin-usuario">
            <div class="coin-front">
                
                <h2>#2</h2>
            </div>
            <div class="coin-back">
                
                    <h2>VENTAS</h2>
                    <h3>3.400</h3>
                
            </div>
        </div>        <div class="coin-usuario">
            <div class="coin-front">
                
                <h2>#3</h2>
            </div>
            <div class="coin-back">
                
                    <h2>VENTAS</h2>
                    <h3>3.400</h3>
                
            </div>
        </div>        <div class="coin-usuario">
            <div class="coin-front">
                
                <h2>#4</h2>
            </div>
            <div class="coin-back">
                
                    <h2>VENTAS</h2>
                    <h3>3.400</h3>
                
            </div>
        </div>        <div class="coin-usuario">
            <div class="coin-front">
                
                <h2>#5</h2>
            </div>
            <div class="coin-back">
                
                    <h2>VENTAS</h2>
                    <h3>3.400</h3>
                
            </div>
        </div>
        

        

    </section>
    <h2 class="categoriash2">Categorias</h2>
    <section class="categorias-index">
        
        <div class="mini-cat">
            <div class="mini-cat-nombre">
                <h3>JOYERIA</h3>

            </div>


            <div class="mini-cat-img">
                <div class="img-categorias">
                    <img src="/img/p4.jpg" alt="categoria">
                </div>
            </div>
            

        </div>
        <div class="mini-cat">
            <div class="mini-cat-nombre">
                <h3>RELIQUIAS</h3>

            </div>


            <div class="mini-cat-img">
                <div class="img-categorias">
                    <img src="/img/p3.jpg" alt="categoria">
                </div>
            </div>
        </div>
        <div class="mini-cat">
            <div class="mini-cat-nombre">
                <h3>MUEBLES</h3>

            </div>


            <div class="mini-cat-img">
                <div class="img-categorias">
                    <img src="/img/p2.jpg" alt="categoria">
                </div>
            </div>
        </div>
        <div class="mini-cat">
            <div class="mini-cat-nombre">
                <h3>ARTE</h3>

            </div>


            <div class="mini-cat-img">
                <div class="img-categorias">
                    <img src="/img/p11.jpg" alt="categoria">
                </div>
            </div>
        </div>
        <div class="mini-cat">
            <div class="mini-cat-nombre">
                <h3>DISCOS</h3>

            </div>


            <div class="mini-cat-img">
                <div class="img-categorias">
                    <img src="/img/p10.jpg" alt="categoria">
                </div>
            </div>
        </div>
        <div class="mini-cat">
            <div class="mini-cat-nombre">
                <h3>RELOJES</h3>

            </div>


            <div class="mini-cat-img">
                <div class="img-categorias">
                    <img src="/img/p14.jpg" alt="categoria">
                </div>
            </div>
        </div>
    </section>
    
    

    <!-- FOOTER -->
    <%- include("./partials/footer")%>
    <!-- FIN FOOTER -->

</body>

</html>