<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head")%>


<body class="body_index">

    <%- include("./partials/header")%>   

    <main class="main-index">
        <div class="contenedor">
            <div class="contenido">
                <div class="primerSlide">
                    <div class="imagen">
                        <img src="\img\reloj-antiria.jpg" alt="producto">
                    </div>
                    <div class="descripcion">
                        <h3>
                            Novedades
                        </h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus deleniti sit maxime
                            natus inventore officiis error .</p>
                    </div>
                </div>
            </div>
        </div>
        <section class="contenedor-4">
            <article class="tarjeta-2">
                <div class="contenedor-img">
                    <img src="/img/reloj-antiria.jpg" alt="">
                </div>
                <div class="detalle-tarjeta">
                    <h3>PRODUCTO</h3>
                    <h4>19.000</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, expedita facere quae minima accusantium voluptatem?</p> 
                    <a href="/productDetail"><button>VER MAS</button></a>
                    
                </div>
            </article>
            <article class="tarjeta-2">
                <div class="contenedor-img">
                    <img src="/img/anillo-antiria.jpg" alt="">
                </div>
                <div class="detalle-tarjeta">
                    <h3>PRODUCTO</h3>
                    <h4>19.000</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, expedita facere quae minima accusantium voluptatem?</p> 
                    <a href="/productDetail"><button>VER MAS</button></a>
                    
                </div>
            </article>
            <article class="tarjeta-2">
                <div class="contenedor-img">
                    <img src="/img/reloj-antiria.jpg" alt="">
                </div>
                <div class="detalle-tarjeta">
                    <h3>PRODUCTO</h3>
                    <h4>19.000</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, expedita facere quae minima accusantium voluptatem?</p> 
                    <a href="/productDetail"><button>VER MAS</button></a>
                    
                </div>
            </article>
            <article class="tarjeta-2">
                <div class="contenedor-img">
                    <img src="/img/reloj-antiria.jpg" alt="">
                </div>
                <div class="detalle-tarjeta">
                    <h3>PRODUCTO</h3>
                    <h4>19.000</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, expedita facere quae minima accusantium voluptatem?</p> 
                    <a href="/productDetail"><button>VER MAS</button></a>
                    
                </div>
            </article>
        </section>


    </main>
    
    <%- include("./partials/footer")%>

</body>

</html>