<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Antiria</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/955163d0fd.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<header>
    
    <section class="pie_pagina">
  
         <div class="buscador">
            <div class="input">Buscar </div>
            <div class="lupa">
            <span class="material-symbols-outlined">search</span>
         </div> 
         </div>
        <ul>
        <li><a href="#">Categorias</li>
        <li><a href="#">Vender</li>
        <li><a href="login">Ingresar</li>
        <li><a href="registro">Registrarse</li>
        <li><a href="#">Ayuda</li>
        </ul>
         <div class="shop">
        <span class="material-symbols-outlined">
        shopping_cart
        </span> 
    </section>
   
</header>

<body>
<main>
    <div class="imagen-del-producto">
    <img class="foto-producto" src="/moneda-anashe.png" alt="foto-de-producto">
    </div>
    <div>
    <h3>Nombre del producto</h3>
    <h4>Precio</h4>
    </div>
    <article>
    <div class="carrusel">
    <img class="foto-carrusel" src="*" alt="foto-carrusel">
    </div>
    </article>
    <article>
    <div class="carrusel">
    <img class="foto-carrusel" src="*" alt="foto-carrusel">
    </div>
    </article>
    <article>
    <div class="carrusel">
    <img class="foto-carrusel" src="*" alt="foto-carrusel">
    </div>
    </article>
    <article>
    <div class="carrusel">
    <img class="foto-carrusel" src="*" alt="foto-carrusel">
    </div>
    </article>
    <ul>
        <li>
            <a href="*">Comprar</a>
        </li>
        <li>
            <a href="carrito">Agregar al carrito</a>
        </li>
    </ul>
</main>
</body>
</html>