<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/isotipo.png">
    <title>Antiria - Detalle - Prod</title>
</head>

<body>
    <header class="header-index">
        <div class="logo-index">
            <h1><a href="/"><img src="/img/logotipo.png" alt="Antiria"></a></h1>
        </div>
        <input type="checkbox" id="nav-check-index" hidden>
        <nav class="nav-index">
            <ul class="lista-nav-index">
                <li>
                    <div class="div-buscador">
                        <input type="text" placeholder="Buscar productos" class="input-buscador">
                    </div>
                </li>
                <li>
                    <a href="" class="link-nav-index">Categorias</a>
                </li>
                <li>
                    <a href="" class="link-nav-index">Vender</a>
                </li>
                <li>
                    <a href="/login" class="link-nav-index">Ingresar</a>
                </li>
                <li>
                    <a href="/registro" class="link-nav-index">Registrarse</a>
                </li>
                <li>
                    <a href="" class="link-nav-index">Ayuda</a>
                </li>
                <li>
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
            </ul>
        </nav>
        <label for="nav-check-index" class="menu-burger">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href=""><i class="fa-solid fa-bars"></i></a>
        </label>
    </header>

    <main class="main-detalle-prod">
        <div class="contenedor-producto">
            <div class="detalle-prod-main">
                <div class="imagenes-web">
                    <div class="imagen-del-producto">
                        <img class="foto-producto" src="/img/anillo-antiria.jpg" alt="foto-de-producto">
                    </div>
                    <div class="carousel">
                        <div class="item"><img src="/img/anillo-antiria.jpg"></div>
                        <div class="item"><img src="/img/anillo-antiria.jpg"></div>
                        <div class="item"><img src="/img/anillo-antiria.jpg"></div>
                        <div class="item"><img src="/img/anillo-antiria.jpg"></div>

                    </div>
                </div>
                <div class="nombre-precio">

                    <h3>COLLAR NATHAN DRAKE. UNCHARTED.</h3>

                    <h4>$0000</h4>


                    <a href="carrito" type="submit"> agregar al carrito </a>

                </div>
            </div>
        </div>
        <div class="descripcion-prod">
            <h4>Descripcion del producto</h4>
            <hr />

            <h4>COLLAR NATHAN DRAKE. UNCHARTED.</h4>

            <h5> Tamaño diámetro anillo: 21mm.</h5>
            <h5>
                Medida interior circunferencia: 6,2cm.</h5>



            <p>
                "El anillo de Sir Francis Drake es un objeto de suma importancia para la trama en la saga Uncharted.
                Hace su primera aparición en Uncharted: El Tesoro de Drake. El anillo fue otorgado al explorador Sir
                Francis Drake por la reina Isabel.
                Perteneció a Nathan Drake durante casi toda la saga de los juegos.
                Cumple algunas funciones a lo largo de la trama, principalmente tiene la propiedad de descifrar la
                escritura enoquiana junto con el Disco de cifrado enoquiano. Tiene la inscripción "Sic Parvis Magna" y
                las coordenadas que sirven como mapa para llegar a la ubicación del ataúd de Sir Francis Drake en donde
                se haya escondido su diario."
            </p>
        </div>


    </main>
    <footer class="footer-general">
        <div class="footer-general-contenedor">
            <div class="contenedor-footer">
                <h4>Marca</h4>
                <ul class="info-footer">
                    <li><a href="">Acerca de nosotros</a></li>
                    <li><a href="">Ayuda</a></li>
                    <li><a href="">Preguntas frecuentes</a></li>
                </ul>
            </div>
            <div class="contenedor-footer">
                <h4>Comprar</h4>
                <ul class="info-footer">
                    <li><a href="">¿Como comprar?</a></li>
                    <li><a href="">Terminos y condiciones</a></li>
                </ul>
            </div>
            <div class="contenedor-footer">
                <h4>Vender</h4>
                <ul class="info-footer">
                    <li><a href="">¿Como vender?</a></li>
                    <li><a href="">¿Como subastar un producto?</a></li>
                    <li><a href="">Terminos y condiciones</a></li>
                </ul>
            </div>
            <div class="contenedor-footer">
                <h4>Usuario</h4>
                <ul class="info-footer">
                    <li><a href="/login">Ingresar</a></li>
                    <li><a href="/registro">Registrarse</a></li>
                </ul>
            </div>
            <div class="contenedor-footer">
                <h4 class="redes-h4">Redes</h4>
                <ul class="redes">
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li><a href="https://twitter.com/Twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>