<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Antiria</title>
    <link rel="stylesheet" href="css/style.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
      
    <section class="registro_maestro_box">
        <div class="registro-box">
            <form action="">
                <h2>Registrate</h2>

                <div class="input-box">
                    <span class="icono">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                    <input type="text" placeholder="Nombre">
                </div>

                <div class="input-box">
                    <span class="icono">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <input type="text" placeholder="Apellido">
                </div>

                <div class="input-box">
                    <span class="icono">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <input type="text" placeholder="Email">
                </div>

                <div class="input-box">
                    <span class="icono">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <input type="password" placeholder="Contraseña">
                </div>

                <div class="input-box">
                    <span class="icono">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <input type="password" placeholder="Confirme Contraseña">
                </div>

                <button type="submit">Registrate</button>
                <div class="iniciar_sesion_link">
                    <p>Ya eres miembro? <a href="">Inicia tu sesion</a></p>
                </div>
            </form>
        </div>
    </section>
    
</body>
</html>