<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD -->
    <%- include("./partials/head")%>
        <!-- FIN HEAD -->
        <title>Antiria - Vender</title>

</head>

<body>

    <!-- HEADER -->
    <%- include("./partials/header")%>
        <!-- FIN HEADER -->


        <main class="carrito-main">
            <section class="vender-box">
                <form action="">
                    <h2 class="title , opciones , title-vender">Vende tu producto</h2>
                    <div class="input-box , opciones ">
                        <input type="text" required>
                        <label>Nombre del producto</label>
                    </div>
                    <div class="input-box , opciones ">
                        <input type="number" required>
                        <label class="nombre_precio">precio del producto</label>
                    </div>
                    <div class="categoria-vender ">
                        <p class=" opciones" >Categoria del producto</p>
                        <div class="botonera , opciones">
                            <select class="opciones-botonera">
                                <option selected disabled class="opcion">Categorias</option>
                                <option value="joyeria" class="opcion">Joyeria</option>
                                <option value="joyeria" class="opcion">Reliquia</option>
                                <option value="joyeria" class="opcion">Mueble</option>
                                <option value="joyeria" class="opcion">Arte</option>
                                <option value="joyeria" class="opcion">Discos</option>
                            </select>
                        </div>
                    </div>
                    <div  class="opciones">
                        <label>Descripcion del producto</label>
                    
                    
                </div>
                <textarea  class="myTextarea , opciones" required></textarea>
                    <div>
                        <label class="opciones">Subir imagen del producto</label>
                    
                    </div>
                    <div class="subir-imagen , opciones"><input  type="file"></div>
                    
                    </div>
                    

                    
                    <div class="realizarlacompra">
                        <button class="realizar-compra , Cancelar  , opciones" type="reset">Cancelar</button>
                        <button class="realizar-compra , publicar ,   opciones" type="submit"> Publicar </button>
                    </div>
                </form>
            </section>
        </main>




        <!-- FOOTER -->
        <%- include("./partials/footer")%>
            <!-- FIN FOOTER -->

</body>

</html>