<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD -->
    <%- include("./partials/head")%>
    <!-- FIN HEAD -->
    <title>Antiria - Vender</title>

</head>

<body>

    <!-- HEADER -->
    <%- include("./partials/header")%>
    <!-- FIN HEADER -->


    <main class="carrito-main">
        <section class="vender-box">
        <form action="">
                <h2 class="title , title-vender">Vende tu producto</h2>
                    <div class="input-box">
                        <input type="text" required>
                    <label>Nombre del producto</label>
                    </div>
                    <div>
                    <label>Descripcion del producto</label>
                    </div>
                    <textarea required></textarea>
                    <div>
                    <label>Subir imagen del producto</label>
                    </div>
                    <input type="file">
                    </div>
                    <div class="categoria-vender">
                        <p>Categoria del producto</p>
                        <label >Joyeria</label>
                        <input type="radio" value="Joyeria"  >
                        
                        <label >Reliquia</label>
                        <input type="radio" value="Reliquia" >
                        
                        <label >Mueble</label>
                        <input type="radio" value="Mueble" >
                        <label>Arte</label>
                        <input type="radio" value="Arte"  >
                        <label >Discos</label>
                        <input type="radio" value="Discos" >
                        
                        
                    </div>
                        
                    <div class="input-box">
                        <input type="number" required>
                        <label class="nombre_precio">precio del producto</label>
                        
                        
                    </div>
                    <div class="realizarlacompra">
                    <button class="realizar-compra , Cancelar " type="reset">Cancelar</button>
                    <button class="realizar-compra , publicar , " type="submit"> Publicar </button>
                    </div>
        </form>
        </section>
    </main>




    <!-- FOOTER -->
    <%- include("./partials/footer")%>
    <!-- FIN FOOTER -->

</body>

</html>