<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD -->
    <%- include("./partials/head")%>
    <!-- FIN HEAD -->

</head>

<body>
    <header >
    <!-- HEADER -->
    <%- include("./partials/header")%>
    <!-- FIN HEADER -->

    </header>
    <main class="carrito-main">
        








    </main>



    <footer>
        
    <!-- FOOTER -->
    <%- include("./partials/footer")%>
    <!-- FIN FOOTER -->

    </footer>
</body>

</html>