<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD -->
    <%- include("./partials/head")%>
    <!-- FIN HEAD -->
    <title>Antiria - Vender</title>

</head>

<body>

    <!-- HEADER -->
    <%- include("./partials/header")%>
    <!-- FIN HEADER -->


    <main class="carrito-main">
           <form action="">
                <h2>Vende tu producto</h2>

                       <input type="text" required>
                       <label>Nombre del producto</label>

                       <label>Descripcion del producto</label>
                       <textarea></textarea>
 





                       <button type="reset">Cancelar</button>
                       <button type="submit">Publicar</button>
           </form>
    </main>




    <!-- FOOTER -->
    <%- include("./partials/footer")%>
    <!-- FIN FOOTER -->

</body>

</html>