/************************************** GENERALES **********************************/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FAF2D7;
    font-family: 'Poppins', sans-serif;
    /*
    background-image: url('/img/background.png');
    background-attachment: fixed;
    background-size: cover;
    */
}

blockquote {
    font-style: italic;
}


/************************************** INDEX **************************************/

/*  #AA9D16 dorado
    #956441 marron
    #1C232A azul oscuro
    #FAF2D7 beige
*/
.header-index {
    display: flex;
    position: fixed;
    width: 99%;
    height: 80px;
    background: #faf2d7c2;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 60px;
    box-shadow: 0 0 20px rgb(117, 117, 117);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px;
    z-index: 1;
}

.input-buscador {
    transition: width 0.3s;
    background-color: transparent;
}

.div-buscador {
    transition: width 0.3s;
    transition: .2s all;
}

.div-buscador i {
    padding: 10px;
    transition: 0.2s all;
}

.div-buscador i:hover {
    cursor: pointer;
    color: #AA9D16;
}


.logo-index a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all;
}

.logo-index img {
    width: 140px;
    filter: drop-shadow(0px 0px 4px #000000a8);
}

.logo-index a:hover img {
    filter: drop-shadow(0px 0px 3px #000000);
    transition: .2s;
}

nav .lista-nav-index {
    display: none;

}

.lista-nav-index li {
    margin-left: 10px;
}

.lista-nav-index li a {
    font-size: 15px;
}

.div-buscador {
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-right: 100%;*/
}

.input-buscador {
    display: block;
    width: 0px;
    outline: none;
    font-weight: 600;
    transition: 0.2s;
    border: none;
    border-bottom: 2px solid #AA9D16;
    outline: none;
}

.div-buscador .input-buscador:hover {
    cursor: pointer;
}

.input-buscador:focus {
    padding: 8px 18px;
    border-bottom: 2px solid #AA9D16;
    width: 400px;

}


nav ul li .link-nav-index {
    color: #1C232A;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    position: relative;
    display: inline-block;
}

nav ul li .link-nav-index-2 {
    color: #1C232A;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    position: relative;
    display: inline-block;
}

nav ul li .link-nav-index::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #AA9D16;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease-in-out;
}

nav ul li .link-nav-index:hover::after {
    transform: scaleX(1);
}


.menu-burger i {
    font-size: 25px;
    color: #1C232A;

}

.nav-index ul li a i {
    font-size: 18px;
    color: #1C232A;
    transition: 0.2s;
}

.nav-index ul li a i:hover {
    color: #AA9D16;
    transition: 0.2s;
}

.main-index {
    padding-left: 0;
    padding-top: 115px;
    color: #FAF2D7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.main-index .primerSlide h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1rem;
}


.contenedor {
    overflow-X: hidden;
    overflow-y: hidden;
    position: relative;
    width: 98%;
    height: 35vh;
    background-image: url('/img/p1.jpg');
    background-size: cover;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    transition: 0.2s all;
}


.imagen {
    display: none;
    width: 50%;
}

.imagen img {
    width: 100%;
    min-height: 36vh
}


.descripcion {
    padding: 20px;
    text-shadow: 1px 1px 2px black;
}

.descripcion p,
blockquote {
    font-size: 18px;
}

.contenido {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.primerSlide {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor2 {
    margin-top: 1rem;
    width: 98%;
}

.contenedor2 h3 {
    color: #1a1a1a;
}

.productos-destacados {
    background-color: #956441;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productos-destacados a {
    margin: 10px;
    width: 250px;
}

.productos-destacados article {
    background-color: #FAF2D7;
    padding: 10px;
    border-radius: 10px;
    transition: .2s;
}

.productos-destacados article:hover {
    box-shadow: 0 0 10px rgb(22, 22, 22);
    transition: .2s;
    transform: translateY(-10px);
}

.productos-destacados article img {
    width: 100%;
}

.productos-destacados h4 {
    color: #1a1a1a;
    font-size: 18px;
}

.productos-destacados h5 {
    color: #AA9D16;
    font-size: 16px;
}


.contenedor-4 {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 98%;
    margin-bottom: 1rem;
    padding: 1rem 0 1rem 0;

}


.tarjeta-2 {
    position: relative;
    width: 340px;
    background-color: #956441;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    margin: 0.5rem;
    transition: all 0.3s;
}

.contenedor-img {
    height: 220px;
    width: 100%;
}

.contenedor-img img {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #FAF2D7;
    border-radius: 10px 10px 0px 0px;
}

.tarjeta-2 img {
    width: 100%;
}

.detalle-tarjeta {
    color: #fffdfd;
    margin: 5px auto;
    padding-top: 10px;
    height: 215px;
    width: 95%;
}

.main-index h3 {
    font-size: 19px;
}


.detalle-tarjeta h4 {
    margin: 5px auto;
    font-size: 18px;
}

.detalle-tarjeta p {
    color: #FAF2D7;
    font-size: 14px;
    margin-bottom: 1rem;
    transition: 0.2s all;
}

.detalle-tarjeta a {
    text-decoration: none;
    padding: 10px 40px;
    color: #FAF2D7;
    background-color: #FAF2D7;
    color: #956441;
    border-radius: 40px;
    transition: all 0.3s ease;
}

.detalle-tarjeta div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
}



.detalle-tarjeta a:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.445);

}

.tarjeta-2:hover {
    box-shadow: 0 0 10px black;
    transform: translateY(-2%);
    cursor: pointer;
}

.tarjeta-2:hover .detalle-tarjeta p {
    color: #FAF2D7;
}

.descripcion p,
blockquote {
    font-size: 15px;
}

.categorias {
    position: absolute;
    list-style: none;
    background-color: #726a52;
    padding: 1rem;
    bottom: -2.4rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(56, 56, 56);
    transition: 0.3s ease-in-out;
    display: none;
}

.categorias li {
    margin-right: 20px;
    margin-left: 20px;
}

.categorias li a {
    color: #f1f1f1b7;
    font-weight: bold;
    transition: 0.2s;
}

.categorias-nav .categorias li a:hover {
    color: #ffffff;
}

.categorias-nav:hover .categorias {
    display: flex;
}

nav ul li .link-nav-index-3 {
    color: #1C232A;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    position: relative;
    display: inline-block;
}

.categorias3 {
    position: absolute;
    list-style: none;
    background-color: #726a52;
    padding: 1rem;
    bottom: -2.4rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(56, 56, 56);
    transition: 0.3s ease-in-out;
    display: none;
}

.categorias3 li {
    margin-right: 20px;
    margin-left: 20px;
}

.categorias3 li a {
    color: #f1f1f1b7;
    font-weight: bold;
    transition: 0.2s;
}

.categorias-nav3 .categorias3 li a:hover {
    color: #ffffff;
}

.categorias-nav3:hover .categorias3 {
    display: flex;
}

.categoriash2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin: 1.5rem;
    color: #1a1a1a;
}

.categorias-index {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.mini-cat {
    background-color: #1a1a1a;
    width: 280px;
    box-shadow: 0 0 20px rgba(56, 56, 56, 0.705);
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin: 0.5rem;
    margin-top: 1rem;
    transition: all 0.3s;
    border-radius: 7px;
    border: solid #FAF2D7;
}

.mini-cat-nombre {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mini-cat-nombre h3 {
    color: #faf2d7;
    font-size: 30px;

}

.mini-cat-img {
    height: 50%;
    width: 100%;
    border-radius: 0 40% 0 0;
    border: solid #FAF2D7;


}

.mini-cat-img img {
    height: 218px;
    width: 100%;
    margin-bottom: 0 auto;
    border-radius: 0 40% 1px 1px;
}


.mini-cat:hover {
    width: 300px;
    height: 450px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.774);
    cursor: pointer;

}

.usuarios-vendedores {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.coin-usuario {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 1rem;

    border-radius: 100%;
}

.coin-usuario div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    backface-visibility: hidden;
    transition: all 0.7s;

}



.coin-front {
    background: transparent;
    transform: perspective(500px) rotateY(0deg);
    box-shadow: 0 0 20px rgb(56, 56, 56);
    background-size: cover;
    color: #FAF2D7;
}

.coin-front img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.coin-back {
    background: #1a1a1a;
    transform: perspective(500px) rotateY(180deg);
    box-shadow: 0 0 20px rgb(56, 56, 56);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 3px solid #FAF2D7;

}

.coin-back img{
    width: 100%;

}

.coin-back h2 {
    height: 40%;
    width: 60%;
    color: #FAF2D7;
    display: flex;
    align-items: center;
    justify-content: center;

}

.coin-back h3 {
    width: 60%;
    height: 40%;
    color: #FAF2D7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin-usuario:hover .coin-front {
    transform: perspective(500px) rotateY(180deg);
}

.coin-usuario:hover .coin-back {
    transform: perspective(500px) rotateY(360deg)
}

.wave-section {
    background-color: #FAF2D7;

}

.contacus-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin-top: 3rem;


}

.contacus-h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.formulario-contacto {
    background-color: #1a1a1a;
    height: 40vh;
    width: 100%;
    margin-top: -20px;
}



@media(min-width:1280px) {
    .contenedor-4 {
        justify-content: space-between;

    }
}

.contenedor-icon-mobile{
    display: flex;
}

.contenedor-icon-mobile i{
    font-size: 22px;
    padding: 2px;
}

.lupa-mobile input{
    position: fixed;
    width: 0px;
    top: 105px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    border: none;
    background-color: transparent;
    outline: none;
}

.lupa-mobile input:focus {
    width: 60%;
    border: 1px solid black;
    background-color: #FFF;
}
/************************************** FOOTER *************************************/
.footer-general {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-general .footer-general-contenedor {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 90%;
}

.footer-general .contenedor-footer {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
}

.footer-general h4 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #faf2d7;
    font-weight: bold;
    text-align: center;
}

.footer-general .redes {
    display: flex;
    justify-content: center;
}

.footer-general .redes li {
    margin-right: 20px;
}

.footer-general .redes li a i {
    font-size: 25px;
    transition: 0.2s;
}

.footer-general .redes li a i:hover {
    color: #AA9D16;
    transition: 0.2s;
}

.footer-general li {
    list-style: none;
    margin-bottom: 2px;
}

.footer-general li a {
    color: #faf2d7;
    font-size: 20px;
}

.footer-general .contenedor-footer .info-footer li a {
    transition: 0.2s;
}

.footer-general .contenedor-footer .info-footer li a:hover {
    padding-left: 1rem;
    color: #AA9D16;
    transition: 0.2s;
}

/* FOOTER */

@media (min-width: 769px) {
    .footer-general .footer-general-contenedor {
        display: flex;
        flex-wrap: wrap;
    }

    .contenedor-3 {
        flex-wrap: nowrap;
    }

    .footer-general h4 {
        font-size: 20px;
        text-align: start;
    }

    .footer-general li a {
        color: #faf2d7;
        font-size: 17px;
    }

    .footer-general li {
        text-align: start;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .footer-general .contenedor-footer {
        width: 30%;
    }

    .footer-general {
        min-height: 250px;
    }

    .footer-general .redes {
        display: flex;
        justify-content: start;
    }
}

@media (min-width: 1280px) {
    .footer-general .contenedor-footer {
        width: 20%;
    }

    .contenedor-3 {
        flex-wrap: no wrap;
    }
}


/************************************** LOGIN **************************************/

.login_maestro_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('/img/background_login.png') no-repeat;
    /*background-color: #faf2d7;*/
    background-size: cover;
    background-position: center;
}

.login_header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.login_header img {
    padding: 1rem;
    width: 120px;
    filter: drop-shadow(5px 5px 4px #956441);
    transition: 0.2s;
}

.login_header a:hover img {
    transition: 0.2s;
    filter: drop-shadow(10px 10px 5px #956441);
}


.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    background-color: transparent;
    border: 2px solid #956441;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px black;
}

.login_maestro_box h2 {
    font-size: 2em;
    color: #1c232a;
    text-align: center;

}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #1c232a;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #1c232a;
    pointer-events: none;
    transition: 300ms;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #1c232a;
    padding: 0 35px 0 5px;
}

.input-box .icono {
    position: absolute;
    right: 8px;
    color: #1c232a;
    font-size: 1.2em;
    line-height: 57px;
}

.recordar {
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: #1c232a;
    display: flex;
    justify-content: space-between;
}

.recordar label input {
    margin-right: 3px;
}

.recordar a {
    color: #1c232a;
    text-decoration: none;
    transition: 300ms;
}

.recordar a:hover {
    text-decoration: underline;
}

.login_maestro_box button {
    width: 100%;
    height: 40px;
    background: #1c232a;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #f1f1f1;
    font-weight: 500;
    transition: 0.3s;
}

.login_maestro_box button:hover {
    background: #1a1a1a;
    transition: 0.3s;
}

.login_maestro_box button:active {
    box-shadow: 0px 0px 20px rgb(0, 0, 0) inset;
    transition: 0.3s;
}

.registrar_link {
    font-size: 0.9em;
    color: #1c232a;
    text-align: center;
    margin: 25px 0 10px;
}

.registrar_link p a {
    color: #1c232a;
    text-decoration: none;
    font-weight: 600;
}

.registrar_link p a:hover {
    text-decoration: underline;
}

.footer_login {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 0.9em;
}

@media (max-width: 1279px) {
    .login_header img {
        width: 110px;
    }
}

@media (max-width: 480px) {
    .login_header img {
        width: 100px;
    }

    .login-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .input-box {
        width: 290px;
    }
}

/************************************** REGISTRO ***********************************/


.registro-box {
    position: relative;
    width: 400px;
    height: 650px;
    background-color: transparent;
    border: 2px solid #956441;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px black;
}

.iniciar_sesion_link {
    margin-top: 1rem;
    text-align: center;
}

@media (max-width: 480px) {
    .login_header img {
        width: 100px;
    }

    .registro-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
}



/************************************** DETALLE DE PROD ****************************/
.fondoDetalleProd {
    color: #FAF2D7;
}

.main-detalle-prod {
    padding-top: 100px;
    width: 98%;
    margin: 0 auto;
}

.main-contenedor-detalle-prod {
    backdrop-filter: blur(6px);
    box-shadow: 0px 0px 25px #6d6d6d;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.detalle-prod-main {
    height: 100%;
    margin: 0 auto;
}

.contenedor-producto {
    margin: 3vw auto;
    margin-top: 1vh;
    border-radius: 7px;
}

.imagen-del-producto {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.foto-producto {
    width: 300px;
    transition: 0.5s;
    object-fit: cover;
}

.foto-producto:hover {
    transform: scale(1.01);
}

.imagenes-web {
    height: 80%;
    margin: .5rem 0;
    border-radius: 5px;
}

.imagenes-web {
    height: 100%;
}

.nombre-precio {
    padding: 34px;
    height: 100%;


}

.nombre-precio h3 {
    padding: 10px;
    justify-content: center;
    font-size: 30px;
    color: #1c232a;

}

.nombre-precio h4 {
    padding: 10px;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 20px;
    color: #1c232a;

}

.nombre-precio a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #1c232a;
    border-radius: 4px;
    transition: all 0.3s ease;
    width: 100%;
    background-color: #956441;
    color: #FAF2D7;
}

.nombre-precio a:hover {
    background-color: #5a3b25;
}

.nombre-precio a:active {
    box-shadow: 0px 0px 10px #2c1e13 inset;
}

.nombre-precio h6 {
    color: #AA9D16;
}

.carousel {
    justify-content: space-around;
    padding: 30px 5px;
    width: 100%;
    display: none;
}

.carousel img {
    border-radius: 5px;
    width: 100px;
    border: 2px solid transparent;
    transition: .2s;

}

.carousel img:hover {
    border: 2px solid #AA9D16;

}

.item {
    padding: 3px;
    margin: 0px 10px;
    align-items: center;
    border: 10px transparent;
}


.descripcion-prod {
    padding: 20px 30px;
    color: #1C232A;
    border-radius: 7px;
    margin-bottom: 1rem;
    margin-left: 1%;
    margin-right: 1%;
}

.descripcion-prod h4 {
    margin-bottom: 10px;
    color: #1c232a;
}

.descripcion-prod hr {
    height: 3px;
    color: #956441;
    margin-bottom: 20px;
}

.descripcion-prod h5 {
    margin-bottom: 10px;
    color: #1c232a
}

.descripcion-prod p {
    color: #1c232a;
}



/************************************** CARRITO ************************************/
.descripcion-carrito {
    display: none;
}

.product-price {
    display: flex;

    width: 100%;
    margin-top: 5px;


}

.product-total {
    width: 80%;
}

.eliminar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    height: 50%;
    width: 25px;
    border-radius: 10px;
}


body .cuerpo_pagina {
    min-height: 70vh;
    width: 100%;
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.carrito-main {
    padding-top: 100px;
}

.seguimiento {
    display: none;
}

.carrito-seguimiento {
    position: relative;
    bottom: 10px;
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid gray;

}

.carrito-seguimiento li i {


    margin-left: 50px;
}

.carrito-seguimiento li a {
    color: black;
}

.productos {
    font-size: 10px;
}

.product {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row;
    position: relative;
    top: 20px;
    border-bottom: 2px groove gray;
    border-top: 2px solid gray;
}

.product img {
    width: 100px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 15px;
}

.product-name {
    font-size: 15px;
    font-weight: bold;
}

.total {
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.carrito-main {
    margin-bottom: 3rem;
}

.carrito a {
    margin-left: 1rem;
    border-bottom: 1px solid black;
}

.realizar-compra {
    background-color: #FAF2D7;
    color: #1a1a1a;
    border-radius: 30px;
    padding: 8px;
    border: 1px solid black;
    font-weight: bold;
}

.realizar-compra3{
    text-align: center;
    margin-top: 2rem ;
}

.realizar-compra2 {
    text-align: center;
    color: #1a1a1a;
    border-radius: 30px;
    padding: 8px;
    border: 2px solid black;
    font-weight: bold;
    transition: all 0.2s;
}

.realizar-compra2:hover {
    background-color: #1a1a1a;
    color: #FAF2D7;
}

.box-ofertas {
    width: 98%;
}

.ofertas {
    font-size: 23px;
    margin-top: 3rem;
    color: #1a1a1a;
    text-align: start;
}

/************************************** VENDER ************************************/
#product-delete {
    display: flex;
    position: relative;
    left: 10px;
    top: 5px;

    width: 1rem;
    height: 1rem;
}

.descripcion-ventas {
    top: 1rem;
    position: relative;
}

#product-edit {
    display: flex;
    position: relative;
    left: 40px;
    bottom: 11px;

    width: 1rem;



}


.vender-main {
    padding-top: 110px;
}



.vender-box h2 {
    text-align: center;


}

.myTextarea {
    width: 90%;
    box-sizing: border-box;
    resize: vertical;
    height: 20%;
    background-color: #FAF2D7;
    resize: none;
    border-radius: 10px;
    border: 2px solid #000000;

}
.breve{
    width: 90%;
    box-sizing: border-box;
    resize: vertical;
    height: 20%;
    background-color: #FAF2D7;
    resize: none;
    border-radius: 10px;
    border: 2px solid #000000;
}

.categoria-vender {
    flex-direction: column;
    display: flex;

}

.categoria-vender p {
    margin-top: 1rem
}

.botonera {
    margin-top: .1rem;
}

.opciones-botonera {
    width: 90%;
    background-color: #FAF2D7;
    height: 2rem;
    border-radius: 10px;
    border: 2px solid #000000;
}

.opciones-botonera:focus {
    background-color: #ffffff;
    transition: 0.5s;
}

.vender-box div {
    margin-top: 1rem;



}

.realizarlacompra {
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.realizar-compra{
    border-radius: 10px;
    border: 2px solid #000000;
}

.Cancelar {
    width: 80px;
    margin-top: 1rem;


}

.publicar {
    width: 150px;



}

.input-box input:focus~.nombre_precio,
.input-box input:valid~.nombre_precio {
    top: -5px;
}

.categoria {
    display: flex;
    flex-direction: row;
    size: 10px;
    text-align: center;
}

.opcion {
    color: #1a1a1a;
}

.vender-box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.opciones {
    margin-left: 0rem;
}

.marron{
    color: #5a3b25;
}

@media(min-width:769px) {
    .vender-box {
        width: 100%;
        background-color: transparent;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.616);
        flex-direction: column;
        margin: auto;
        padding: 10px;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }


    .opciones {
        margin-left: 3rem;
    }

    .vender-box {
        display: block;
    }

    .myTextarea {
        height: 100px;
        width: 300px;
        box-sizing: border-box;
        resize: vertical;
        height: 10%;
        background-color: #FAF2D7;
        resize: none;

    }
    .breve{
        height: 100px;
        width: 300px;
        box-sizing: border-box;
        resize: vertical;
        height: 10%;
        background-color: #FAF2D7;
        resize: none;

    }

    .myTextarea:focus {
        transition: 0.2s;
        height: 120px;

    }

    .title-vender {
        display: flex;
        position: relative;
        left: 4rem;
    }

    .vender-box {
        width: 450px;

    }

    .realizarlacompra {
        flex-direction: row-reverse;
        align-items: start;
        display: block;
        left: 30px;
        top: 15px;
        position: relative;
    }

    .Cancelar {
        margin: 0;
        margin-right: 1rem;
        font-size: 10px;
        background-color: #956441;
        font-weight: bold;
    }

    .publicar {
        text-align: center;
        margin: 0;
        font-weight: bold;
        margin-left: 1rem;
        right: 30px;
        position: relative;
        background-color: #956441
    }

    .categoria-vender {
        width: 90%;
        display: block;

    }

    #product-edit {
        justify-content: end;
    }

    #product-edit:hover {
        color: royalblue;
        transition: 0.2s;
    }
    .boton-oferta{
        display: flex;
        position: relative;
        left: 222px;
        bottom: 17px;
    }
}

/************************************** 404 ************************************/
.main-404 {
    padding-top: 115px;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-404 h2 {
    color: #956441;
    font-size: 40px;
}

.main-404 h3 {
    font-size: 25px;
    color: #1a1a1a;
}

/************************************** SEARCH ************************************/

.main-search {
    padding-top: 115px;
    min-height: 70vh;
}

.main-search2 {
    min-height: 70vh;
}

.main-search hr,
.main-search2 hr {
    margin: auto;
    width: 95%;
    color: #1a1a1a;
}

.main-search article,
.main-search2 article {
    margin: auto;
    width: 95%;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
}


.main-search h3,
.main-search2 h3 {
    font-size: 17px;
}

.main-search h4,
.main-search2 h4 {
    font-size: 15px;
}

.main-search h5,
.main-search2 h5 {
    font-size: 14px;
}


.imagen-detalle-prod {
    width: 200px;
    width: 50%;
    height: 200px;
    border: 1px solid #1a1a1a80;
    box-shadow: 0px 0px 5px #1a1a1a80;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.green {
    color: green;
}

.main-search img,
.main-search2 img {
    width: 100%;
    max-height: 100%;
}

.descripcion_search_prod {
    margin-left: 1rem;
    width: 50%;
}

.descripcion_search_prod a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #1c232a;
    width: 100px;
    border-radius: 4px;
    transition: all 0.3s ease;
    background-color: #956441;
    color: #FAF2D7;
}

.descripcion_search_prod a:hover {
    background-color: #5a3b25;
}

.descripcion_search_prod a:active {
    box-shadow: 0px 0px 10px #2c1e13 inset;
}

.descripcion_search_prod2 {
    margin-left: 1rem;
    width: 50%;
}

.descripcion_search_prod2 a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #1c232a;
    width: 100px;
    border-radius: 4px;
    transition: all 0.3s ease;
    color: #1a1a1a;
}

.notfound-search{
    text-align: center;
}

.eliminar-edit{
    display: flex;
}




/************************************** RESPONSIVE ************************************/
@media (min-width:480px) {
    .main-index .primerSlide h3 {
        font-size: 27px;
    }

    .seguimiento {
        display: flex;

    }

    .product-price {
        justify-content: end;
    }

    .imagen-detalle-prod {
        width: 30%;
    }

    .descripcion_search_prod{
        width: 70%;
    }

    .descripcion_search_prod2{
        width: 70%;
    }

}

@media (min-width:769px) {

    .descripcion-carrito {
        display: flex;
        width: 70%;
        font-size: 10px;
    }

    .descripcion p,
    blockquote {
        font-size: 18px;
    }

    .product {
        width: 100%;


    }

    .product-name {
        position: absolute;
        display: flex;
        width: 50%;
        bottom: 70px;
        font-size: 17px;
    }

    .eliminar:hover {
        color: red;
        cursor: pointer;
        transition: 0.4s;
        border-radius: 5px;

    }

    .product:hover {
        border-radius: 10px;
        border: 3px solid #956441;
        transition: 0.2s;
        background-color: #956441;

    }

    .footer-general .footer-general-contenedor {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-general h4 {
        font-size: 20px;
        text-align: start;
    }

    .footer-general li a {
        color: #faf2d7;
        font-size: 17px;
    }

    .footer-general li {
        text-align: start;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .footer-general .contenedor-footer {
        width: 30%;
    }

    .footer-general {
        min-height: 30vh;
    }

    .footer-general .redes {
        display: flex;
        justify-content: start;
    }

    .detalle-prod-main {
        display: flex;
    }

    .main-detalle-prod {
        padding-top: 100px;
        display: block;
    }

    .imagenes-web {
        width: 50%;
    }

    .nombre-precio {
        padding: 80px;
        width: 50%;
        height: 100%;
    }

    .productos-destacados {
        justify-content: start;
    }

    .seguimiento {
        display: flex;
    }

    .realizar-compra:hover {
        background-color: #1c232a;
        transition: 0.2s;
        color: #FAF2D7;
        cursor: pointer;
        box-shadow: 0 0 20px rgb(117, 117, 117);
    }

    .Cancelar:hover {
        background-color: red;
        transition: 0.2s;
        color: #FAF2D7;
    }


    .imagenes-web {
        width: 50%;
        height: 100%;
    }


    .imagen-del-producto {
        width: 98%;
        height: 98%;
        margin-left: 1rem;
        display: block;
        padding-top: 1rem;
    }

    .main-search hr,
    .main-search2 hr {
        width: 90%;
    }

    .main-search article,
    .main-search2 article {
        width: 90%;
    }

    .contacus-h2 {
        font-size: 35px;
    }

    .contacus-h3 {
        font-size: 30px;
        margin-bottom: -50px;
    }

    .imagen-detalle-prod {
        width: 200px;
        height: 200px;
        border: 1px solid #1a1a1a80;
        box-shadow: 0px 0px 5px #1a1a1a80;
        border-radius: 5px;
        display: flex;
        align-items: center;
    }

    .descripcion_search_prod {
        margin-left: 1rem;
    }

    .descripcion_search_prod2 {
        margin-left: 1rem;
    }

    .main-search h3,
    .main-search2 h3 {
        font-size: 20px;
    }
    .main-search h4,
    .main-search2 h4 {
        font-size: 19px;
    }
    .main-search h5,
    .main-search2 h5 {
        font-size: 15px;
    }


}

@media (min-width:1280px) {
    .contenedor-icon-mobile{
        display: none;
    }

    header .menu-burger {
        display: none;
    }

    .imagen {
        display: block;
    }

    nav .lista-nav-index {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .footer-general .contenedor-footer {
        width: 20%;
    }

    .detalle-tarjeta p {
        color: transparent;
    }

    .contenedor {
        background-image: none;
        background-color: #1a1a1a;
        color: #FAF2D7;
    }

    .carousel {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 30px 5px;
        width: 100%;
    }

    .foto-producto {
        width: 50%;
        transition: 0.5s;
        object-fit: cover;
        margin-left: 25%;
    }

    .nombre-precio {
        padding: 80px;
        width: 50%;
        height: 100%;
    }


    .contacus-h3 {
        margin-bottom: -100px;
    }

}