/************************************** GENERALES **********************************/
html{
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body {
    background-color: #FAF2D7;
    /*
    POR SI AGREGAMOS UNA IMAGEN DE FONDO
    background-attachment: fixed;
    background-size: cover;
    */
}


/************************************** INDEX **************************************/

/*  #AA9D16 dorado
    #956441 marron
    #1C232A azul oscuro
    #FAF2D7 beige
*/

.header-index{
    display: flex;
    width: 80%;
    height: 80px;
    background:#FAF2D7 ;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #956441 ;
    box-shadow: 0 0 20px black;
    margin: 0 auto;
}

.input-buscador{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #1c232a;
    transition: 0.7s;
}

.input-buscador:hover{
    background: none;
}

.logo-index {
    width: 120px;
    margin-top: 8px;

}

nav .logo-index-nav {
    display: none;
}

nav .lista-nav-index {
    display:flex;
    list-style:none;

}

.div-buscador .input-buscador {
    
    display: block;
    margin: 0 100px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 1s;
    
}

.div-buscador .input-buscador:hover{
    width: 300px;
    box-shadow: 0 0 20px black; 
    cursor: pointer;
    transition: 2s;
}


nav ul li .link-nav-index {
    color: #1C232A;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.7s;
    border-radius:30px;
}

nav ul li .link-nav-index:hover {
    background-color: #956441;

}

.menu-burger{
    /*display: none;*/
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.menu-burger:hover {
    background:#c8bb8e ;
}

.menu-burger div{
    width: 30px;
    height: 5px;
    margin: 6px 0;
    background: black;
    border-radius: 3px;
    
}

@media only screen and (max-width:1100px) {
    .header-index{
        width:90%;
        padding: 0 20px;

    }

    .nav-index{
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #c8bb8e;
        transition: 0.7s;
        box-shadow: 2px 0 20px 0 rgba( 0,0,0,0.05);

    }

    #nav-check-index:checked ~ .nav-index {
        left: 0;

    }

    nav .logo-index-nav{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;

    }
    nav .lista-nav-index{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    nav ul li .link-nav-index {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;

    }
    .menu-burger {
        display: block;
    }
}

@media  (min-width:1101px) {
    header .menu-burger{
        display: none;
        
    }
    
}



.main-index {
    padding-left:0;
    padding-top: 10%;
    
}


.contenedor {
    overflow-X: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #1a1a1a;
    box-shadow: #956441 1px;
    box-shadow: 0 0 20px black;
}

.imagen {
    width: 50%;
    height: 100%;
    
}

.imagen img {
    width: 100%;
    height: 100%;
}


.descripcion {
    padding: 5%;
    width: 50%;
    height: 100%;
    
}


.slider input {
    visibility: hidden;
    display: none;
}

.boton {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 50px;
    gap: 10px;
}

.boton label {
    width: 20px;
    height: 20px;
    background-color: #f1f1f1;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    transition: 300MS ease-in-out;
}

.boton label:hover {
    scale:1.2;
    opacity: 1;
}

.slider input:nth-child(1):checked ~ .boton label:nth-child(1),
.slider input:nth-child(2):checked ~ .boton label:nth-child(2),
.slider input:nth-child(3):checked ~ .boton label:nth-child(3)

{
    opacity: 1;
    scroll-margin: 1.2;
    width: 40px;
}

.contenido {
    position: relative;
    width: 300vw;
    display: flex;
    transition: 400ms ease-in-out;
}

.primerSlide , .segundoSlide , .tercerSlide {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.primerSlide {
    background-color:#AA9D16;
}

.segundoSlide {
    background-color:#956441;

}

.tercerSlide {
    background-color: #1C232A ;
}

.slider input:nth-child(1):checked ~ .contenido {
    left: 0;
}

.slider input:nth-child(2):checked ~ .contenido {
    left: -100vw;
}

.slider input:nth-child(3):checked ~ .contenido {
    left: -200vw;
}













/************************************** LOGIN **************************************/

.login_maestro_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('/img/background_login.png') no-repeat;
    /*background-color: #faf2d7;*/
    background-size: cover;
    background-position: center;
}

.login_header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.login_header img{
    padding: 1rem;
    width: 120px;
    filter: drop-shadow(5px 5px 4px #956441);
    transition: 0.2s;
}

.login_header a:hover img{
    transition: 0.2s;
    filter: drop-shadow(10px 10px 5px #956441);
}


.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background-color: transparent;
    border: 2px solid #956441;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px black;
}

.login_maestro_box h2{
    font-size: 2em;
    color: #1c232a;
    text-align: center;
}

.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #1c232a;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #1c232a;
    pointer-events: none;
    transition: 300ms;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #1c232a;
    padding: 0 35px 0 5px;
}

.input-box .icono{
    position: absolute;
    right: 8px;
    color: #1c232a;
    font-size: 1.2em;
    line-height: 57px;
}

.recordar{
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: #1c232a;
    display: flex;
    justify-content: space-between;
}

.recordar label input{
    margin-right: 3px;
}

.recordar a{
    color: #1c232a;
    text-decoration: none;
    transition: 300ms;
}

.recordar a:hover{
    text-decoration: underline;
}

.login_maestro_box button{
    width: 100%;
    height: 40px;
    background: #1c232a;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #f1f1f1;
    font-weight: 500;
    transition: 0.3s;
}

.login_maestro_box button:hover{
    background: #1a1a1a;
    transition: 0.3s;
}

.login_maestro_box button:active{
    box-shadow: 0px 0px 20px rgb(0, 0, 0) inset;
    transition: 0.3s;
}

.registrar_link{
    font-size: 0.9em;
    color: #1c232a;
    text-align: center;
    margin: 25px 0 10px;
}

.registrar_link p a{
    color: #1c232a;
    text-decoration: none;
    font-weight: 600;
}

.registrar_link p a:hover{
    text-decoration: underline;
}

.footer_login{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 0.9em;;
}

@media (max-width: 1279px){
    .login_header img{
        width: 110px;
    }
}

@media (max-width: 480px){
    .login_header img{
        width: 100px;
    }
    .login-box{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
    .input-box{
        width: 290px;
    }
}

/************************************** REGISTRO ***********************************/

.registro-box
{
    position: relative;
    width: 400px;
    height: 630;
    background-color: transparent;
    border: 2px solid #956441;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px black;
}

.iniciar_sesion_link
{
    margin-top: 1rem;
    text-align: center;
}

@media( max-width: 480px)
{
    .login_header img
    {
        width: 100px;
    }

    .registro-box
    {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
}


/************************************** DETALLE DE PROD ****************************/
header section.nav{
    
    width: 100%;
    height: 20vh;
    background-color: #faf2d7;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    background-size: cover;
    background-position: center;

}
.logo img{
    padding: 1rem;
    width: 70px;
    filter: drop-shadow(5px 5px 4px #956441);
    transition: 0.2s;
}
.logo a:hover img{
    transition: 0.2s;
    filter: drop-shadow(10px 10px 5px #956441);
}
.nav ul{
    position: absolute;
    right: 60px;
    display: flex;
    list-style-type: none;
    top: 30px;
}
.nav ul a{
    text-decoration: none;
    color: inherit;
    
    
}
.nav ul li{
    display: flex;
    align-items: flex-end;
    height: 28px;
    margin-right: 40px;
    font-size: 10px;
    
}
.buscador .lupa{
    position: absolute;
    top: 5px;
    left: 405px;
    display: flex;
}



.imagen-del-producto{
    display: flex;
    justify-content: center;
}
header div.burger-menu i {
    color: #fff;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
    align-self: flex-end;
}

header div.burger-menu {
    text-align: right;
    display: flex;
    justify-content: right;
}
.carousel {
    background-color: #fa07b5;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 3px;
} 

.item {
    padding: 3px;
    margin: 0px 10px;
    align-items: center;
    border: 10px transparent;
}

@media (max-width:430px) {
    header ul {
        display: none;
    }
    header nav {
        display: none;
    }
    
}





/************************************** CARRITO ************************************/
ul.header-carrito {
display: none;
flex-wrap: wrap;
list-style-type: none;
}
.buscador-carrito{
    display: none;
    position: relative;
    
}
.lupa-carrito{
    display: flex;
    position: absolute;
    top: 37px;
    right: 10px;
}
section.logo img{
        width: 20%;
        align-items: center;
        position: relative;
        
    }
.burger-menu-carrito{
    position: absolute;
    display: flex;
    top: 40px;
    right: 80px;
}


section .shop{
    color: black;
    top: 37px;
    display: flex;
    position: absolute;
    right: 40px;
}
body .cuerpo_pagina{
    height: 50vh;
    width: 100%;
    display: flex;
    background-color: #faf2d7;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;

}

.seguimiento{
    display: none;
}
.carrito-seguimiento{
    position: absolute;
    left:130px;
    display: flex;
    list-style-type: none;
    top: 150px;
    
    
}

.carrito-seguimiento li p{

    text-decoration: none;
    color: black;
    margin-left: 50px;
}
.productos{

font-size: 10px;

}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row;
}
.product img{
    width: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
}

.product-name{
    font-size: 20px;
    font-weight: bold;

}

.total{
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

footer .piepagina{
    display: flex;
    height: 30vh;
    align-items: flex-end;
    width: 100%;
    background-color: #faf2d7;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
    background-position: center;
}


@media (min-width: 430px){
    
    ul.header-carrito {
    display: none;
    flex-wrap: wrap;
    list-style-type: none;
    }
}

@media (min-width: 780px){
    .buscador-carrito{
        display: flex;
        position: absolute;
        left: 200px;
        top:36px;
        padding: 6px;
        padding-right:100px;
        margin-right: 1px; 
        
    }

   
   
   
    ul.header-carrito {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        }
        section.logo img{
            width: 8%;
            align-items: center;
            position: relative;
            
        }
        .burger-menu-carrito{
            display: none;
        }
    section .shop{
        display: none;
      }
      ul.header-carrito {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        position:absolute;
        top: 36px;
        right: 70px;
        }
        ul.header-carrito li {
        margin-left: 20px;
        text-decoration-style: none;
        }
        ul.header-carrito li a{
            color: #1a1a1a;
        }
}





