/************************************** GENERALES **********************************/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body {
    background-color: #FAF2D7;
    font-family: 'Libre Baskerville', serif;
    /*
    POR SI AGREGAMOS UNA IMAGEN DE FONDO
    background-attachment: fixed;
    background-size: cover;
    */
}


/************************************** INDEX **************************************/

/*  #AA9D16 dorado
    #956441 marron
    #1C232A azul oscuro
    #FAF2D7 beige
*/
.header-index {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    background: #faf2d7c2;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgb(68, 68, 68);
    margin: 0 auto;
    z-index: 1;
}

.input-buscador {
    border-radius: 30px;
    border: 1px solid #1c232a;
    transition: width 1s;
}


.logo-index a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all;
}

.logo-index img {
    width: 140px;
    filter: drop-shadow(0px 0px 5px #4d3422);
}

.logo-index a:hover img {
    filter: drop-shadow(0px 0px 3px #3f2a1c);
    transition: .2s;
}

nav .lista-nav-index {
    display: none;

}

.lista-nav-index li {
    margin-left: 10px;
}

.lista-nav-index li a {
    font-size: 15px;
}

.div-buscador {
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-right: 100%;*/
}

.input-buscador {
    display: block;
    width: 250px;
    font-weight: 600;
    padding: 8px 18px;
}

.div-buscador .input-buscador:hover {
    cursor: pointer;
}

.input-buscador:focus {
    width: 400px;
    box-shadow: 0 0 10px rgb(68, 68, 68);

}


nav ul li .link-nav-index {
    color: #1C232A;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    position: relative;
    display: inline-block;
}

nav ul li .link-nav-index::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #956441;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease-in-out;
}

nav ul li .link-nav-index:hover::after {
    transform: scaleX(1);
}


.menu-burger i {
    font-size: 25px;
    color: #1C232A;

}

.nav-index ul li a i {
    font-size: 18px;
    color: #1C232A;
    transition: 0.2s;
}

.nav-index ul li a i:hover {
    color: #956441;
    transition: 0.2s;
}

.main-index {
    padding-left: 0;
    padding-top: 100px;
    color: #FAF2D7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.main-index h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}


.contenedor {
    overflow-X: hidden;
    overflow-y: hidden;
    position: relative;
    width: 98%;
    height: 35vh;
    background-color: #1a1a1a;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
}

.imagen {
    width: 50%;
}

.imagen img {
    width: 100%;
    min-height: 35vh
}


.descripcion {
    padding: 20px;
    width: 50%;

}

.descripcion p {
    font-size: 13px;
}

.contenido {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.primerSlide {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor2 {
    margin-top: 1rem;
    width: 98%;
}

.contenedor2 h3 {
    color: #1a1a1a;
}

.productos-destacados {
    background-color: #956441;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productos-destacados a {
    margin: 10px;
    width: 250px;
}

.productos-destacados article {
    background-color: #FAF2D7;
    padding: 10px;
    border-radius: 10px;
    transition: .2s;
}

.productos-destacados article:hover {
    box-shadow: 0 0 10px rgb(22, 22, 22);
    transition: .2s;
    transform: translateY(-10px);
}

.productos-destacados article img {
    width: 100%;
}

.productos-destacados h4 {
    color: #1a1a1a;
    font-size: 18px;
}

.productos-destacados h5 {
    color: #AA9D16;
    font-size: 16px;
}


.contenedor-4{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #1c232a;
    padding: 1rem 0 1rem 0;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}


.tarjeta-2{
    width: 425px;
    height: 50vh;
    background-color: #956441;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    margin: 1rem;
    transition: all 0.6s;
    
}
.contenedor-img{
    height:50%;
    width: 100%;
    
}

.contenedor-img img {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #FAF2D7;
    border-radius:  10px 10px 0px 0px;
}

.tarjeta-2 img {
    width: 100%;
    
}

.detalle-tarjeta {
    color: #fffdfd;
    text-align: center;
    margin: 5px auto;
    height: 50%;
    width: 100%;
}

.detalle-tarjeta h4 {
    margin: 5px auto;
}

.detalle-tarjeta button {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 2rem;
    color: #FAF2D7;
    background-color: #956441;
    border: 2px solid #FAF2D7;
    border-radius: 4px;
    transition: all 0.6s ease;
    width: 60%;
    cursor: pointer;
}

.detalle-tarjeta button:hover{
    background-color: #FAF2D7;
    color:#956441 ;

}

.tarjeta-2:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,2);
    transform: translateY(-5%);
}

@media(min-width:1280px){
    .contenedor-4{
        justify-content: space-around;

    }
}
/************************************** FOOTER *************************************/
.footer-general {
    background-color: #956441;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-general .footer-general-contenedor {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 90%;
}

.footer-general .contenedor-footer {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
}

.footer-general h4 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #1c232a;
    text-align: center;
}

.footer-general .redes {
    display: flex;
    justify-content: center;
}

.footer-general .redes li {
    margin-right: 5px;
}

.footer-general .redes li a i {
    font-size: 25px;
    transition: 0.2s;
}

.footer-general .redes li a i:hover {
    color: #3f2a1c;
    transition: 0.2s;
}

.footer-general li {
    list-style: none;
    margin-bottom: 2px;
}

.footer-general li a {
    color: #faf2d7;
    font-size: 20px;
}

.footer-general .contenedor-footer .info-footer li a {
    transition: 0.2s;
}

.footer-general .contenedor-footer .info-footer li a:hover {
    padding-left: 1rem;
    color: #3f2a1c;
    transition: 0.2s;
}

/* FOOTER */

@media (min-width: 769px) {
    .footer-general .footer-general-contenedor {
        display: flex;
        flex-wrap: wrap;
    }

    .contenedor-3 {
        flex-wrap: nowrap;
    }

    .footer-general h4 {
        font-size: 20px;
        text-align: start;
    }

    .footer-general li a {
        color: #faf2d7;
        font-size: 17px;
    }

    .footer-general li {
        text-align: start;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .footer-general .contenedor-footer {
        width: 30%;
    }

    .footer-general {
        min-height: 250px;
    }

    .footer-general .redes {
        display: flex;
        justify-content: start;
    }
}

@media (min-width: 1280px) {
    .footer-general .contenedor-footer {
        width: 20%;
    }

    .contenedor-3 {
        flex-wrap: no wrap;
    }
}


/************************************** LOGIN **************************************/

.login_maestro_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('/img/background_login.png') no-repeat;
    /*background-color: #faf2d7;*/
    background-size: cover;
    background-position: center;
}

.login_header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.login_header img {
    padding: 1rem;
    width: 120px;
    filter: drop-shadow(5px 5px 4px #956441);
    transition: 0.2s;
}

.login_header a:hover img {
    transition: 0.2s;
    filter: drop-shadow(10px 10px 5px #956441);
}


.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    background-color: transparent;
    border: 2px solid #956441;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px black;
}

.login_maestro_box h2 {
    font-size: 2em;
    color: #1c232a;
    text-align: center;
}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #1c232a;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #1c232a;
    pointer-events: none;
    transition: 300ms;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #1c232a;
    padding: 0 35px 0 5px;
}

.input-box .icono {
    position: absolute;
    right: 8px;
    color: #1c232a;
    font-size: 1.2em;
    line-height: 57px;
}

.recordar {
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: #1c232a;
    display: flex;
    justify-content: space-between;
}

.recordar label input {
    margin-right: 3px;
}

.recordar a {
    color: #1c232a;
    text-decoration: none;
    transition: 300ms;
}

.recordar a:hover {
    text-decoration: underline;
}

.login_maestro_box button {
    width: 100%;
    height: 40px;
    background: #1c232a;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #f1f1f1;
    font-weight: 500;
    transition: 0.3s;
}

.login_maestro_box button:hover {
    background: #1a1a1a;
    transition: 0.3s;
}

.login_maestro_box button:active {
    box-shadow: 0px 0px 20px rgb(0, 0, 0) inset;
    transition: 0.3s;
}

.registrar_link {
    font-size: 0.9em;
    color: #1c232a;
    text-align: center;
    margin: 25px 0 10px;
}

.registrar_link p a {
    color: #1c232a;
    text-decoration: none;
    font-weight: 600;
}

.registrar_link p a:hover {
    text-decoration: underline;
}

.footer_login {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 0.9em;
}

@media (max-width: 1279px) {
    .login_header img {
        width: 110px;
    }
}

@media (max-width: 480px) {
    .login_header img {
        width: 100px;
    }

    .login-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .input-box {
        width: 290px;
    }
}

/************************************** REGISTRO ***********************************/


.registro-box {
    position: relative;
    width: 400px;
    height: 630px;
    background-color: transparent;
    border: 2px solid #956441;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px black;
}

.iniciar_sesion_link {
    margin-top: 1rem;
    text-align: center;
}

@media (max-width: 480px) {
    .login_header img {
        width: 100px;
    }

    .registro-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
}



/************************************** DETALLE DE PROD ****************************/
.fondoDetalleProd {
    color: #FAF2D7;
}

.main-detalle-prod {
    padding-top: 100px;
}

.detalle-prod-main {
    width: 98%;
    height: 100%;
    margin: 0 auto;
}

.contenedor-producto {
    width: 98%;
    background-color: #faf2d7e6;
    box-shadow: 0 0 20px black;
    margin: 3vw auto;
    margin-top: 1vh;
    border-radius: 7px;
    border:  #956441;
}

.imagen-del-producto {
 
    width: 98%;
    height: 98%;
    justify-content: center;
    padding-top: 1rem;
  
   
}

.foto-producto {
    width: 50%;
    transition: 0.5s;
    object-fit: cover;
    margin-left: 25%;
    
}

.foto-producto:hover {
    transform: scale(1.1);
}
.imagenes-web{
    width: 50%;
    height: 80%;
    margin: .5rem 0;
    
    border: 1px solid black;
    border-radius: 5px;

}

.nombre-precio {
    padding: 80px;
    width: 50%;
    height: 100%;


}

.nombre-precio h3 {
    padding: 10px;
    justify-content: center;
    font-size: 30px;
    color: #1c232a;

}

.nombre-precio h4 {
    padding: 10px;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 20px;
    color: #1c232a;

}

.nombre-precio a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #1c232a;
    ;
    border: 2px solid #956441;
    border-radius: 4px;
    transition: all 0.6s ease;
    width: 100%;
}

.nombre-precio a:hover {
    background-color: #956441;
    color: #FAF2D7;
}
.nombre-precio h6{
    color: #AA9D16;
}
.carousel {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 5px;
    width: 100%;
}

.carousel img {
    width: 100px;

}

.item {
    padding: 3px;
    margin: 0px 10px;
    align-items: center;
    border: 10px transparent;
}


.descripcion-prod {
    padding: 20px 30px;
    background-color: #faf2d7e6;
    box-shadow: 0 0 20px black;
    border: 1px solid #956441;
    color: #1C232A;
    border-radius: 7px;
    margin-bottom: 1rem;
    margin-left: 1%;
    margin-right: 1%;
}

.descripcion-prod h4 {
    margin-bottom: 10px;
    color: #1c232a;
}

.descripcion-prod hr {
    height: 3px;
    color: #956441;
    margin-bottom: 20px;
}

.descripcion-prod h5 {
    margin-bottom: 10px;
    color: #1c232a

}
.descripcion-prod p{
    color: #1c232a;
 
}



@media (min-width:768px) {
    .detalle-prod-main {
        display: flex;
    }

    .imagenes-web {
        width: 100%;
    }
}


/************************************** CARRITO ************************************/
.descripcion-carrito{
    display: none;
}
.product-price {
    display: flex;
    
    width: 100%;
    margin-top: 5px;


}

.product-total {
    width: 80%;
}

.eliminar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    height: 50%;
    width: 25px;
    border-radius: 10px;
}


body .cuerpo_pagina {
    height: 70vh;
    width: 100%;
    display: flex;

    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;

}

.carrito-main {
    padding-top: 100px;
}

.seguimiento {
    display: none;
}

.carrito-seguimiento {
    position: relative;
    bottom: 10px;
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid gray;


}

.carrito-seguimiento li p {
    text-decoration: none;
    color: black;
    margin-left: 50px;

}

.productos {
    font-size: 10px;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row;
    position: relative;
    top: 20px;



}

.product img {
    width: 100px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 15px;
}

.product-name {
    font-size: 15px;
    font-weight: bold;


}

.total {
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.carrito-main {
    margin-bottom: 3rem;
}

.carrito p {
    border-bottom: 1px solid black;
}
.realizar-compra{
    background-color: #FAF2D7 ;
    border-radius: 30px;
    padding: 8px;
    border: 1px solid black;

}

/************************************** RESPONSIVE ************************************/
@media (min-width:480px) {
    .main-index h3 {
        font-size: 22px;
    }

    .descripcion p {
        font-size: 15px;
    }

    .seguimiento {
        display: flex;

    }
    .product-price{
        justify-content: end;
    }

}

@media (min-width:769px) {

    .descripcion-carrito{
        display: flex;
        width: 70%;
        font-size: 10px;
    }
    .product {
        width: 100%;


    }

    .product-name {
        position: absolute;
        display: flex;
        width: 50%;
        bottom: 70px;
        font-size: 20px;
    }

    .eliminar:hover {
        background-color: red;
        transition: 0.4s;
        border-radius: 5px;

    }

    .product:hover {
        border-radius: 10px;
        border: 3px solid #956441;
        transition: 0.2s;
        background-color: #956441;

    }

    .footer-general .footer-general-contenedor {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-general h4 {
        font-size: 20px;
        text-align: start;
    }

    .footer-general li a {
        color: #faf2d7;
        font-size: 17px;
    }

    .footer-general li {
        text-align: start;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .footer-general .contenedor-footer {
        width: 30%;
    }

    .footer-general {
        min-height: 250px;
    }

    .footer-general .redes {
        display: flex;
        justify-content: start;
    }

    .detalle-prod-main {
        display: flex;
    }

    .main-detalle-prod {
        padding-top: 100px;
        display: block;
    }

    .imagenes-web {
        width: 50%;
    }

    .productos-destacados {
        justify-content: start;
    }

    .seguimiento {
        display: flex;
    }
    .realizar-compra:hover{
        background-color:#956441 ;
        transition: 0.2s;
        color: #FAF2D7;
    }
}

@media (min-width:1280px) {
    header .menu-burger {
        display: none;
    }

    .main-index h3 {
        font-size: 25px;
    }

    .descripcion p {
        font-size: 18px;
    }

    nav .lista-nav-index {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .footer-general .contenedor-footer {
        width: 20%;
    }
}