<%- include('../partials/head', {tituloWeb: 'Help'}) %>
<body>
    <!-- HEADER -->
    <%- include("../partials/header")%>
    <!-- FIN HEADER -->
    <main class="mainHelp">
        <div>
            <h2 class="titleHelp">Ayuda</h2>
            <h3 id="nosotros" class="title2Help">~Acerca de nosotros</h3>
            <p class="textHelp">
                Somos la pagina web numero 1 en venta de antigüedades.
            </p><br>


            <h3 id="comoComprar" class="title2Help">~¿Cómo comprar?</h3>
            <p class="textHelp">
                Debes registrarte e iniciar sesión para comprar; luego das buscas el producto que te interesa; una vez encontrado el producto que te intereso, das click en el botón agregar al carrito; luego vas al carrito donde te figura el subtotal y el total con el envió y procedes a pagar el producto.
            </p><br>


            <h3 id="comoComprar" class="title2Help">~¿Cómo comprar?</h3>
            <p class="textHelp">
                Debes registrarte e iniciar sesión para comprar; luego das buscas el producto que te interesa; una vez encontrado el producto que te intereso, das click en el botón agregar al carrito; luego vas al carrito donde te figura el subtotal y el total con el envió y procedes a pagar el producto.
            </p><br>

            <h3 id="comoVender" class="title2Help">~¿Cómo vender?</h3>
            <p class="textHelp">
                Debes registrarte e iniciar sesión para comprar; luego vas a vender y completas el formulario de venta.
            </p><br>
            <h3 id="terminos" class="title2Help">~Términos y condiciones</h3>
            <p class="textHelp">
                Antiria, persona jurídica de derecho privado describe, a través de este documento, las normas de uso del sitio https://www.antiria.com.ar/ y de cualquier otro sitio web, tienda o aplicación operada por el titular.
            </p><br>
            <p class="title3Help">Sección 1 - Usuario</p>
            <p class="textHelp">
                El uso de este sitio web le otorga automáticamente la condición de Usuario e implica su plena aceptación de todas las directrices y condiciones incluidas en estas Condiciones.
            </p><br>
            <p class="title3Help">Sección 2 - Adhesión junto con la política de privacidad</p>
            <p class="textHelp">
                El uso de este sitio web implica la adhesión a estas Condiciones de Uso y a la versión más actualizada de la Política de Privacidad de Antiria.
            </p><br>
            <p class="title3Help">Sección 3 - Condiciones de acceso</p>
            <p class="textHelp">
                En general, el acceso al sitio web de Antiria es gratuito y no requiere registro previo. Sin embargo, para hacer uso de algunas funcionalidades, el usuario puede necesitar registrarse, creando una cuenta de usuario con un nombre de usuario y una contraseña de acceso.
            </p><br>
            <p class="title3Help">Sección 4 - Propiedad intelectual</p>
            <p class="textHelp">
                Todos los elementos de Antiria son propiedad intelectual de la misma o de sus licenciantes. Estos términos o el uso del sitio web no le otorgan ninguna licencia o derecho de uso de los derechos de propiedad intelectual de Antiria o de cualquier tercero.
            </p><br>
            <p class="title3Help">Sección 5 - Datos personales</p>
            <p class="textHelp">
                Durante el uso de este sitio web, ciertos datos personales serán recogidos y procesados por Antiria y/o los Socios. Las normas relativas al tratamiento de los datos personales de Antiria están estipuladas en la Política de Privacidad.
            </p><br>
            <p class="title3Help">Sección 6 - Contacto</p>
            <p class="textHelp">
                Si tiene alguna pregunta sobre las condiciones de uso, por favor póngase en contacto con nosotros por correo electrónico shop@antiria.com.
            </p><br>
        </div>
    </main>
    <!-- FOOTER -->
    <%- include("../partials/footer")%>
    <!-- FIN FOOTER -->
</body>
</html>