<%- include('../partials/head', {tituloWeb: 'Antiria - Home'}) %>

<body class="body_index">

    <!-- HEADER -->
    <%- include("../partials/header")%>
    <!-- FIN HEADER -->

    <main class="main-search">
        <article>
            <div class="imagen-detalle-prod">
                <img src="/img/p1.jpg" alt="">
            </div>
            <div class="descripcion_search_prod">
                <h3>Prod</h3>
                <h4 class="green">$$$$</h4>
                <h5>Envio: <span class="green">$$$$</span></h5>
                <a href="">Ver</a>
            </div>
        </article>
        <hr>
    </main>

    <!-- FOOTER -->
    <%- include("../partials/footer")%>
    <!-- FIN FOOTER -->

</body>

</html>