<%- include('../partials/head', {tituloWeb: 'Antiria - Home'}) %>

<body class="body_index">

    <!-- HEADER -->
    <%- include("../partials/header")%>
    <!-- FIN HEADER -->


    <!-- FOOTER -->
    <%- include("../partials/footer")%>
    <!-- FIN FOOTER -->

</body>

</html>