<%- include('../partials/head', {tituloWeb: '404'}) %>
<body>
    <!-- HEADER -->
    <%- include("../partials/header")%>
    <!-- FIN HEADER -->
    <main class="main-404">
        <div>
            <h2>ERROR 404 🥲</h2>
            <h3>Not Found</h3>
        </div>
    </main>
    <!-- FOOTER -->
    <%- include("../partials/footer")%>
    <!-- FIN FOOTER -->
</body>
</html>