<%- include('../partials/head', {tituloWeb: 'Antiria - Registro'}) %>

<body class="login_maestro_box">
    <header class="login_header">
        <a href="/">
            <img src="img/isotipo.png" alt="Antiria">
        </a>
    </header>
    <section class="registro-box">
        <form action="">
            <h2>Registrate</h2>
            <div class="input-box">
                <span class="icono">
                    <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" required>
                <label>Nombre</label>
            </div>

            <div class="input-box">
                <span class="icono">
                    <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" required>
                <label>Apellido</label>
            </div>

            <div class="input-box">
                <span class="icono">
                    <i class="fa-solid fa-envelope"></i>
                </span>
                <input type="text" required>
                <label>Correo electrónico</label>
            </div>

            <div class="input-box">
                <span class="icono">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input type="password" required>
                <label>Contraseña</label>
            </div>

            <div class="input-box">
                <span class="icono">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input type="password" required>
                <label>Confirmar contraseña</label>
            </div>
            <div class="recordar">
                <label><input type="checkbox" required>Términos y condiciones</label>
            </div>

            <button type="submit">Registrate</button>
            <div class="registrar_link">
                <p>¿Ya sos miembro? <a href="/login">Inicia tu sesión</a></p>
            </div>
        </form>
    </section>
    <footer class="footer_login">
        <p>Antiria - 2023 &copy</p>
    </footer>
</body>

</html>