<%- include('../partials/head', {tituloWeb: 'Antiria - Carrito'}) %>
<body>
    <!-- HEADER -->
    <%- include("../partials/header.ejs")%>
    <!-- FIN HEADER -->
        <main class="carrito-main">
            </div>
            <ul class="carrito-seguimiento">
                <li>
                    <div class="carrito">
                    <i ><a >tus publicaciones</a></i>
                    </div>
                </li>
            
            </ul>
            <section class="cuerpo_pagina">
                <div class="product">
                    <a href="productDetail"><img class="imagen-producto" src="/img/anillo-antiria.jpg"
                            alt="Producto 1"></a>
                    <div class="product-total">
                        <p class="product-name">Collar Nathan Drake. Uncharted</p>


                        <p class="product-price">
                        
                        </p>
                        <p class="descripcion-carrito , descripcion-ventas">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime
                            repellendus ab repellat in, totam laudantium doloribus voluptates sequi nam rem.</p>

                        
                            <a class="eliminar" id="product-delete" href="borrarProducto" onclick="return confirm('¿Realmente desea eliminar este producto?')"><i class="fa-sharp fa-solid fa-trash"></i></a>

                            <a id="product-edit" href="/edicionProducto"> <i class="fa-solid fa-pen-to-square "></i></a>
                    </div>
                </div>
                <div class="product">
                    <a href="productDetail"><img class="imagen-producto" src="/img/anillo-antiria.jpg"
                            alt="Producto 2"></a>
                    <div class="product-total">
                        <p class="product-name">Collar Nathan Drake. Uncharted</p>
                        <p class="product-price">
                            
                        </p>


                        
                        <p class="descripcion-carrito , descripcion-ventas">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime
                            repellendus ab repellat in, totam laudantium doloribus voluptates sequi nam rem.</p>
                        <a class="eliminar " id="product-delete"><i class="fa-sharp fa-solid fa-trash"></i></a>
                        <a id="product-edit"><i class="fa-solid fa-pen-to-square "></i></a>

                    </div>
                </div>
                <a href="/vender"  class="total , realizar-compra ">vender tu producto</a>
                
            </section>
        </main>


    <!-- FOOTER -->
    <%- include("../partials/footer.ejs")%>
    <!-- FIN FOOTER -->
</body>

</html>