<%- include('../partials/head', {tituloWeb: 'Antiria - Carrito'}) %>
<body>
    <!-- HEADER -->
    <%- include("../partials/header.ejs")%>
    <!-- FIN HEADER -->
        <main class="carrito-main">
            </div>
            <ul class="carrito-seguimiento">
                <li>
                    <div class="carrito">
                    <i ><a href="/carrito">Carrito</a></i>
                    </div>
                </li>
                <li>
                    <div class="seguimiento">
                    <i><a href="" >Seguimiento</a></i>
                    </div>
                </li>
            </ul>
            <section class="main-cart">
                <article>
                    <div class="imagen-detalle-prod">
                        <img src="/img/products/product-1690172318207.jpg" alt="">
                    </div>
                    <div class="descripcion_search_prod2">
                        <h3>Retro NES AV/h3>
                        <h4 class="green">$250.000</h4>
                        <div class="eliminar-edit">
                            <form action="">
                                <a type="submit" class="eliminar" id="product-delete" href="#" onclick="return confirm('¿Realmente desea eliminar este producto?')">
                                    <i class="fa-sharp fa-solid fa-trash"></i>
                                </a>
                            </form>
                        </div>
                    </div>
                </article>
                <hr>
                <div class="totalCart">
                    <h3 class="subtotal subtotal2">SubTotal: $250.000</h3>
                    <h3 class="subtotal">Envio: $ 1.500</h3>
                    <h2 class="total green">Total: $251.500</h2>
                    <button class="realizar-compra">Realizar compra</button>
                </div>
            </section>
        </main>


    <!-- FOOTER -->
    <%- include("../partials/footer.ejs")%>
    <!-- FIN FOOTER -->
</body>

</html>