<%- include('../partials/head', {tituloWeb: 'Antiria - Carrito'}) %>
<body>
    <!-- HEADER -->
    <%- include("../partials/header.ejs")%>
    <!-- FIN HEADER -->
        <main class="carrito-main">
            </div>
            <ul class="carrito-seguimiento">
                <li>
                    <div class="carrito">
                    <i ><a href="/carrito">Carrito</a></i>
                    </div>
                </li>
                <li>
                    <div class="seguimiento">
                    <i><a href="" >Seguimiento</a></i>
                    </div>
                </li>
            </ul>
            <section class="cuerpo_pagina">
                <div class="product">
                    <a href="productDetail"><img class="imagen-producto" src="/img/<%= cart.image %>"  alt="Producto 1"></a>
                    <div class="product-total">
                        <p class="product-name"></p>


                        <p class="product-price">
                            
                        </p>
                        <p class="descripcion-carrito"></p>
                        <a class="eliminar"><i class="fa-sharp fa-solid fa-trash"></i></a>
                    </div>
                </div>
                
                </div>
                <h2 class="total"></h2>
                <button class="realizar-compra">Realizar compra</button>
            </section>
        </main>


    <!-- FOOTER -->
    <%- include("../partials/footer.ejs")%>
    <!-- FIN FOOTER -->
</body>

</html>