<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD -->
    <%- include("../partials/head.ejs")%>
    <!-- FIN HEAD -->
    <title>Antiria - Detalle - Prod</title>
</head>

<body>

    <!-- HEADER -->
    <%- include("../partials/header")%>
    <!-- FIN HEADER -->

    <main class="main-detalle-prod">
        <div class="main-contenedor-detalle-prod">


            <div class="contenedor-producto">
                <div class="detalle-prod-main">
                    <div class="imagenes-web">
                        <div class="imagen-del-producto">
                            <img class="foto-producto" src="/img/p3.jpg" alt="foto-de-producto">
                        </div>
                        <div class="carousel">
                            <div class="item"><img src="/img/p3.jpg"></div>
                            <div class="item"><img src="/img/p3.jpg"></div>
                            <div class="item"><img src="/img/p3.jpg"></div>
                            <div class="item"><img src="/img/p3.jpg"></div>

                        </div>
                    </div>
                    <div class="nombre-precio">

                        <h3>COLLAR NATHAN DRAKE. UNCHARTED.</h3>

                        <h4>$0000</h4>

                        <a href="carrito" type="submit">Agregar al carrito</a>

                    </div>
                </div>
            </div>
            <div class="descripcion-prod">
                <h4>Descripcion del producto</h4>
                <hr />

                <h4>COLLAR NATHAN DRAKE. UNCHARTED.</h4>

                <h5> Tamaño diámetro anillo: 21mm.</h5>
                <h5>
                    Medida interior circunferencia: 6,2cm.</h5>



                <p>
                    "El anillo de Sir Francis Drake es un objeto de suma importancia para la trama en la saga
                    Uncharted.
                    Hace su primera aparición en Uncharted: El Tesoro de Drake. El anillo fue otorgado al explorador
                    Sir
                    Francis Drake por la reina Isabel.
                    Perteneció a Nathan Drake durante casi toda la saga de los juegos.
                    Cumple algunas funciones a lo largo de la trama, principalmente tiene la propiedad de descifrar
                    la
                    escritura enoquiana junto con el Disco de cifrado enoquiano. Tiene la inscripción "Sic Parvis
                    Magna" y
                    las coordenadas que sirven como mapa para llegar a la ubicación del ataúd de Sir Francis Drake
                    en donde
                    se haya escondido su diario."
                </p>
            </div>
        </div>


    </main>

        <!-- FOOTER -->
        <%- include("../partials/footer")%>
            <!-- FIN FOOTER -->

</body>

</html>