<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD -->
    <%- include("../partials/head")%>
        <!-- FIN HEAD -->
        <title>Antiria - Vender</title>

</head>

<body>

    <!-- HEADER -->
    <%- include("../partials/header")%>
        <!-- FIN HEADER -->


        <main class="carrito-main">
            <section class="vender-box">
                <form action="">
                    <h2 class="title , title-vender">Vende tu producto</h2>
                    <div class="input-box">
                        <input type="text" required>
                        <label>Nombre del producto</label>
                    </div>
                    <div class="input-box">
                        <input type="number" required>
                        <label class="nombre_precio">Precio del producto</label>
                    </div>
                    <div class="categoria-vender">
                        <p>Categoría del producto</p>
                        <div class="botonera">
                            <select class="opciones-botonera">
                                <option selected disabled>Categorías</option>
                                <option value="joyeria">Joyería</option>
                                <option value="joyeria">Reliquias</option>
                                <option value="joyeria">Muebles</option>
                                <option value="joyeria">Arte</option>
                                <option value="joyeria">Discos</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label>Descripción del producto</label>
                    </div>
                    <textarea id="myTextarea" required></textarea>
                    <div>
                        <label>Subir imagen del producto</label>
                    </div>
                    <input type="file">
                    </div>

                    <div class="realizarlacompra">
                        <button class="realizar-compra , Cancelar " type="reset">Cancelar</button>
                        <button class="realizar-compra , publicar , " type="submit">Publicar </button>
                    </div>
                </form>
            </section>
        </main>




        <!-- FOOTER -->
        <%- include("../partials/footer")%>
            <!-- FIN FOOTER -->

</body>

</html>